.slider-main {
    margin-top: 12px;
}

.main-slider {
    overflow: hidden;

    &__container {
        margin: 12px 0 16px 0;
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        @media (max-width: $to-small) {
            margin-bottom: 24px;
        }
    }

    &__navButtons {
        display: flex;
    }

    &__indicatorWrapper {
        display: flex;
        align-items: center;
    }

    &__indicator {
        width: 32px;
        height: 2px;
        margin: 0 4px 0 0;
        border-radius: 2px;
        background: #C7D8B9;
        position: relative;
        cursor: pointer;

        &:last-child {
            margin: 0;
        }
    }

    &__thumbs {
        display: none;

        @media (max-width: $to-small) {
            display: block;
        }

        .main-slide__desc {
            width: calc(100%);
            left: initial;
            bottom: initial;
            display: block;
            position: relative;
        }

        .swiper-slide-thumb-active {
            .main-slide__text {
                opacity: 1;
            }

            .scroll-word {
                transform: translateZ(0);
            }

            .scroll-line {
                &:nth-child(1) {
                    .scroll-word {
                        transition-delay: 250ms !important;
                    }
                }

                &:nth-child(2) {
                    .scroll-word {
                        transition-delay: 300ms !important;
                    }
                }

                &:nth-child(3) {
                    .scroll-word {
                        transition-delay: 350ms !important;
                    }
                }

                &:nth-child(4) {
                    .scroll-word {
                        transition-delay: 400ms !important;
                    }
                }
            }
        }
    }
}

.main-slide {
    overflow: hidden;
    border-radius: 16px;

    &__imageWrapper {
        overflow: hidden;
        border-radius: 16px;
        position: relative;
    }

    .picture {
        height: 480px;

        @media screen and (min-width: $from-gigantic + 1) {
            height: 620px;
        }

        @media (min-width: $from-medium) and (max-width: 1376px) {
            height: 420px;
        }

        @media screen and (max-width: $to-medium) {
            height: 400px;
        }

        @media screen and (max-width: $to-small) {
            height: 280px;
        }
    }

    .image {
        --innerTranslate: 0;
        --scale: 1;

        //object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;

        transform: translate3d(var(--innerTranslate), 0, 0) scale(var(--scale));

        @media (max-width: $to-medium) {
            object-fit: cover;
        }
    }

    &__desc {
        width: calc(75%);
        max-width: 960px;
        position: absolute;
        left: 40px;
        bottom: 54px;
        font-family: "TT-Norms", sans-serif;
        font-weight: 500;

        @media (max-width: $to-medium) {
            width: calc(75%);
            left: 20px;
            bottom: 26px;
        }

        @media (max-width: $to-small) {
            display: none;
        }
    }

    &__text {
        position: relative;
        z-index: 1;
        padding: 24px 20px;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: var(--white);
            opacity: 0.6;
            border-radius: 8px;
            z-index: -1;
        }

        @media screen and (max-width: $to-tiny) {
            font-size: 24px;
        }
    }

    &.active {

        .main-slide__text {
            opacity: 1;

            .scroll-word {
                transform: translateZ(0);
            }

            .scroll-line {
                &:nth-child(1) {
                    .scroll-word {
                        transition-delay: 250ms !important;
                    }
                }

                &:nth-child(2) {
                    .scroll-word {
                        transition-delay: 300ms !important;
                    }
                }

                &:nth-child(3) {
                    .scroll-word {
                        transition-delay: 350ms !important;
                    }
                }

                &:nth-child(4) {
                    .scroll-word {
                        transition-delay: 400ms !important;
                    }
                }
            }
        }

    }
}
