.slider-button {
    margin: 0 16px 0 0;
    cursor: pointer;
    outline: none;

    &:last-child {
        margin: 0;
    }

    svg {
        transition: transform 250ms ease;
    }

    &-prev,
    &.prev {


        &:hover {
            svg {
                transform: translateX(-5px);
            }
        }
    }

    &-next,
    &.next{

        &:hover {
            svg {
                transform: translateX(5px);
            }
        }
    }

    &.swiper-button-disabled {
        cursor: not-allowed;
        opacity: .3;

        svg {
            transition: none;
            transform: translateX(0);

            &:hover {
                transform: translateX(0);
            }
        }
    }
}

.slider__bullet {

    .line {
        background: var(--green);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform-origin: left;
        transform: scaleX(0);
    }

    &.active {

        .line {
            animation: loadIndicator 5s linear;
        }

    }
}

@keyframes loadIndicator {

    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }

}
