@font-face {
    font-family: 'TT-Norms';
    src: url('../fonts/TTNorms-Regular.woff2') format('woff2'),
         url('../fonts/TTNorms-Regular.woff') format('woff'),
         url('../fonts/TTNorms-Regular.eot') format('eot'),
         url('../fonts/TTNorms-Regular.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT-Norms';
    src: url('../fonts/TTNorms-Medium.woff2') format('woff2'),
        url('../fonts/TTNorms-Medium.woff') format('woff'),
        url('../fonts/TTNorms-Medium.eot') format('eot'),
        url('../fonts/TTNorms-Medium.ttf') format('tff');
    font-weight: 500;
    font-style: normal;
}
