* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //outline: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

picture {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address {
    font-style: normal;
}
