extends ../base_404

block vars
    - var page = '404';

block main-content
    section.page-404
        .wrapper.nr
            .page-404__svgWrapper.mb_80.js-scroll-block
                <svg width="1174" height="595" viewBox="0 0 1174 595" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 2L50 459.18" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M25.9821 2L25.982 459.18" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2 2L1.99999 459.18" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.0001 2L14.0001 459.18" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.0001 2L38.0001 459.18" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M414.747 480C414.745 480.141 414.742 491.238 414.74 491.379C414.336 518.562 404.491 541.587 384.947 560.58C365.122 579.844 340.512 589.612 311.253 589.612C281.995 589.612 257.385 579.844 237.56 560.58C218.016 541.587 208.171 518.562 207.767 491.379C207.765 491.238 207.763 480.141 207.762 480" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M403.555 480C403.553 480.196 403.55 491.393 403.547 491.589C403.14 515.648 394.393 536.034 377.08 552.86C359.466 569.976 337.601 578.655 311.605 578.655C285.609 578.655 263.743 569.976 246.129 552.86C228.816 536.034 220.061 515.437 219.654 491.378C219.651 491.182 219.656 480.196 219.654 480" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M390.814 480C390.812 480.126 390.811 491.252 390.809 491.378C390.485 512.022 382.909 529.51 367.885 543.938C352.63 558.586 333.694 566.012 311.18 566.012C288.666 566.012 269.729 558.586 254.475 543.938C239.45 529.51 231.875 512.022 231.551 491.378C231.549 491.252 231.546 480.126 231.544 480" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M367.031 480C367.03 480.127 367.027 491.253 367.024 491.379C366.772 505.944 361.46 518.286 350.949 528.473C340.25 538.842 326.969 544.099 311.18 544.099C295.39 544.099 282.109 538.842 271.411 528.473C260.9 518.286 255.587 505.944 255.335 491.379C255.333 491.253 255.337 480.127 255.335 480" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M378.924 480C378.922 480.126 378.919 491.252 378.917 491.378C378.63 509.216 372.186 524.329 359.417 536.8C346.441 549.473 330.332 555.898 311.18 555.898C292.028 555.898 275.919 549.473 262.943 536.8C250.174 524.329 243.73 509.216 243.443 491.378C243.441 491.252 243.439 480.126 243.438 480" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M169.537 345L169.537 592.116" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M145.753 345L145.753 592.116" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M121.969 345L121.969 592.116" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M133.861 345L133.861 592.116" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M157.645 345L157.645 592.116" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>

                g.line-horizontal
                    <path d="M1063 526.077L2.20336 526.077" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1063 502.927L2.20336 502.927" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1062.99 479.776L2.19485 479.776" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1063 491.352L2.20336 491.352" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1063 514.502L2.20336 514.502" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>

                <path d="M500.814 345L500.814 459.18" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M477.03 345L477.03 459.18" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M453.246 345L453.246 459.18" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M465.138 345L465.138 459.18" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M488.922 345L488.922 459.18" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M620.584 345L620.584 592.116" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M596.799 345L596.799 592.116" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M573.016 345L573.016 592.116" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M584.908 345L584.908 592.116" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M608.692 345L608.692 592.116" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M414.755 458.771C414.753 458.543 414.747 446.028 414.743 445.802C414.282 418.517 404.438 395.397 384.955 376.314C365.13 356.9 340.52 347.056 311.262 347.056C282.003 347.056 257.393 356.9 237.568 376.314C218.034 395.446 208.189 418.637 207.776 446.014C207.773 446.17 207.763 458.543 207.762 458.7" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M403.566 458.756C403.563 458.543 403.558 446.014 403.554 445.802C403.137 421.573 394.391 401.042 377.088 384.094C359.474 366.844 337.608 358.098 311.612 358.098C285.616 358.098 263.751 366.844 246.137 384.094C228.784 401.091 220.036 421.693 219.667 446.014C219.665 446.155 219.661 458.543 219.66 458.685" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M390.823 458.685C390.821 458.543 390.818 446.156 390.815 446.014C390.482 425.228 382.906 407.618 367.892 393.087C352.638 378.325 333.702 370.84 311.188 370.84C288.674 370.84 269.737 378.325 254.483 393.087C239.469 407.618 231.893 425.228 231.56 446.014C231.557 446.156 231.554 458.543 231.552 458.685" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M367.038 458.756C367.036 458.585 367.033 446.097 367.03 445.927C366.748 431.305 361.436 418.91 350.957 408.673C340.258 398.223 326.977 392.925 311.188 392.925C295.398 392.925 282.117 398.223 271.418 408.673C260.918 418.93 255.606 431.355 255.344 446.015C255.341 446.156 255.339 458.614 255.338 458.756" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M378.932 458.685C378.93 458.544 378.927 446.156 378.924 446.014C378.628 428.056 372.183 412.839 359.425 400.28C346.449 387.509 330.34 381.033 311.188 381.033C292.036 381.033 275.927 387.509 262.951 400.28C250.192 412.839 243.748 428.056 243.452 446.014C243.449 446.156 243.447 458.614 243.446 458.756" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                g.tractor
                    <path d="M1105.09 478L1098.41 478C1096.02 478 1094.09 479.934 1094.09 482.319L1094.09 482.681C1094.09 485.066 1096.02 487 1098.41 487L1105.09 487" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1105.09 519L1098.41 519C1096.02 519 1094.09 520.934 1094.09 523.319L1094.09 523.681C1094.09 526.066 1096.02 528 1098.41 528L1105.09 528" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1069.97 482.997L1069.97 466L1063 466L1063 541L1069.97 541L1069.97 523.79M1069.97 482.997L1076.09 482.997L1076.09 523.79L1069.97 523.79M1069.97 482.997L1069.97 523.79" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1076.09 503.7L1076.09 492L1108.09 503.7L1076.09 516L1076.09 503.7Z" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1134.09 515L1134.09 492L1108.09 492L1108.09 515L1134.09 515Z" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1166.09 496L1134.09 496L1134.09 510L1166.09 510L1166.09 496Z" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1163.09 495.243L1163.09 488M1163.09 510.598L1163.09 519" stroke="#4E8925" stroke-width="4"/>
                    <path d="M1168.09 482C1169.75 482 1171.09 483.343 1171.09 485V485C1171.09 486.657 1169.75 488 1168.09 488L1158.09 488C1156.43 488 1155.09 486.657 1155.09 485V485C1155.09 483.343 1156.43 482 1158.09 482L1168.09 482Z" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1124.89 475C1128.87 475 1132.09 478.223 1132.09 482.199L1132.09 484.801C1132.09 488.777 1128.87 492 1124.89 492L1112.29 492C1108.31 492 1105.09 488.777 1105.09 484.801L1105.09 482.199C1105.09 478.223 1108.31 475 1112.29 475L1124.89 475Z" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1124.89 515C1128.87 515 1132.09 518.223 1132.09 522.199L1132.09 524.801C1132.09 528.777 1128.87 532 1124.89 532L1112.29 532C1108.31 532 1105.09 528.777 1105.09 524.801L1105.09 522.199C1105.09 518.223 1108.31 515 1112.29 515L1124.89 515Z" stroke="#4E8925" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1167.59 518C1169.52 518 1171.09 519.567 1171.09 521.5V521.5C1171.09 523.433 1169.52 525 1167.59 525L1158.59 525C1156.66 525 1155.09 523.433 1155.09 521.5V521.5C1155.09 519.567 1156.66 518 1158.59 518L1167.59 518Z" stroke="#F1E678" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            .flex.flex_fdc.flex_aifs
                .mb_80
                    h1 Страница не найдена
                a.btn.btn_def.btn_404(href="/") Вернуться на главную
