extends ../base

block vars
    - var page = 'index';

block main-content
    //include ../templates/slider-main
    include ../templates/main-video
    include ../templates/benefits
    include ../templates/maps
    include ../templates/slider-information
    include ../templates/purchase
    include ../templates/question
