extends ../base

block vars
    - var page = 'responsibility';

block main-content
    section.artcl
        .wrapper.nr
            h1.artcl__title.scroll-block.js-scroll-block(data-text="true") Ответственность
            .artcl__text
                .interlinear Мы специализируемся на выращивании злаков, овощей и животных

    section.mb_140
        .wrapper.nr
            .gr.col-2
                article.cardPreview.trigger.trigger-default(data-trigger-type="scroll")
                    a.cardPreview__link(href="" is="inner-link")
                    .cardPreview__imageWrapper
                        picture.picture
                            source(srcset="" type="image/webp")
                            img(src="./static/cooperation/cooperation.jpg")
                    .cardPreview__header
                        h2.cardPreview__name Социальная <br> ответственность
                        .cardPreview__button.btn.btn_sq
                            svg.ico(width="8" height="15" fill="none")
                                use(xlink:href="#arr-s")
                    .cardPreview__text
                        p.text_md Концепция, в соответствии с которой организации учитывают интересы общества, возлагая на себя ответственность за влияние их деятельности.

                article.cardPreview.trigger.trigger-default(data-trigger-type="scroll")
                    a.cardPreview__link(href="" is="inner-link")
                    .cardPreview__imageWrapper
                        picture.picture
                            source(srcset="" type="image/webp")
                            img(src="./static/cooperation/cooperation-4.jpg")
                    .cardPreview__header
                        h2.cardPreview__name Безопасность <br> производства
                        .cardPreview__button.btn.btn_sq
                            svg.ico(width="8" height="15" fill="none")
                                use(xlink:href="#arr-s")
                    .cardPreview__text
                        p.text_md Кроме понятия «производственный процесс» употребляются такие термины как «процесс производства» и «производственная деятельность».

                article.cardPreview.trigger.trigger-default(data-trigger-type="scroll")
                    a.cardPreview__link(href="" is="inner-link")
                    .cardPreview__imageWrapper
                        picture.picture
                            source(srcset="" type="image/webp")
                            img(src="./static/cooperation/cooperation-2.jpg")
                    .cardPreview__header
                        h2.cardPreview__name Забота о сотрудниках
                        .cardPreview__button.btn.btn_sq
                            svg.ico(width="8" height="15" fill="none")
                                use(xlink:href="#arr-s")
                    .cardPreview__text
                        p.text_md Наша программа заботы о сотрудниках основана на четырёх ключевых ценностях — высокой нравственности, расширении полномочий, открытости и командном духе.

                article.cardPreview.trigger.trigger-default(data-trigger-type="scroll")
                    a.cardPreview__link(href="" is="inner-link")
                    .cardPreview__imageWrapper
                        picture.picture
                            source(srcset="" type="image/webp")
                            img(src="./static/cooperation/cooperation-3.jpg")
                    .cardPreview__header
                        h2.cardPreview__name Охрана труда
                        .cardPreview__button.btn.btn_sq
                            svg.ico(width="8" height="15" fill="none")
                                use(xlink:href="#arr-s")
                    .cardPreview__text
                        p.text_md Министерство труда Российской Федерации от 17.12. 2002 г. постановлением № 80 утвердило Методические рекомендации по разработке государственных нормативных требований охраны труда.
