extends ../base

block vars
    - var page = 'buckwheat';

block main-content
    section.artcl
        .wrapper.nr
            a.artcl-back.link.link-back(href="")
                svg.ico(width="8" height="15" fill="none")
                    path(d="M7 1L1 7.5 7 14" stroke="#E3E2DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                span.p_min.link-back__text Продажа
        .wrapper.nr
            h1.artcl__title.scroll-block.js-scroll-block(data-text="true") Продажа пшеницы

    section.filters-section
        .wrapper.nr
            .filters.gr-catalog.col-2.aic
                accordion-component.group
                    drop-down.item.drop-down.filter-select.class
                        .dd-button
                            .dd-button__title.p Класс
                            svg.ico-arr(width="15" height="8" viewBox="0 0 15 8" fill="none")
                                use(xlink:href="#dd-arr")
                        .dd-wrapper
                            .dd-inner
                                a.p.filter.filter-checkbox(is="filter-link" href="?filter[class]=1") 1
                                a.p.filter.filter-checkbox(is="filter-link" href="?filter[class]=2") 2
                                a.p.filter.filter-checkbox(is="filter-link" href="?filter[class]=3") 3
                                a.p.filter.filter-checkbox(is="filter-link" href="?filter[class]=4") 4
                    drop-down.item.drop-down.filter-select.city
                        .dd-button
                            .dd-button__title.p Регион
                            svg.ico-arr(width="15" height="8" viewBox="0 0 15 8" fill="none")
                                use(xlink:href="#dd-arr")
                        .dd-wrapper
                            .dd-inner
                                accordion-component.sub
                                    drop-down.drop-down.filter-select.filter-select__sub
                                        .dd-button
                                            .ico-plus
                                            .dd-button__title.p Воронежская область
                                        .dd-wrapper
                                            .dd-inner
                                                // data-mode="include" - можно выбрать несколько значений
                                                //
                                                a.p.filter.filter-checkbox(is="filter-link" data-mode="include" href="?filter[city]=vrn_first") Новохоперский район
                                                a.p.filter.filter-checkbox(is="filter-link" data-mode="include" href="?filter[city]=vrn_second") Грибановский район
                                                a.p.filter.filter-checkbox(is="filter-link" data-mode="include" href="?filter[city]=vrn_third") Верхнехавский район

                                    drop-down.drop-down.filter-select.filter-select__sub
                                        .dd-button
                                            .ico-plus
                                            .dd-button__title.p Волгоградская область
                                        .dd-wrapper
                                            .dd-inner
                                                a.p.filter.filter-checkbox(is="filter-link" href="?filter[city]=vlg_first") Новохоперский район
                                                a.p.filter.filter-checkbox(is="filter-link" href="?filter[city]=vlg_second") Грибановский район
                                                a.p.filter.filter-checkbox(is="filter-link" href="?filter[city]=vlg_third") Верхнехавский район

                .group
                    .filters-range.item
                        filter-range.filter-range(data-thumbs="[0, 100]" data-href="filter[count]=0~100" data-step="1")
                            .caption.p Количество (т)
                            .outputs
                                input.i.min.p(placeholder="от 0")
                                input.i.max.p(placeholder="до 100")
                            .input-range


                    button.item.filter.filter-reset.link_g(is="filters-reset" data-names=["class", "count"] data-container="replaceable-filter")
                        .ico-close.s
                        p Очистить фильтр

    section.mb_120
        .wrapper.nr
            .replaceable-filter(data-id="catalog")
                .gr-catalog.col-2.catalog

                    - var n = 1;

                    while n < 7
                        article.cardProduct
                            a.cardProduct__link(is="inner-link" href="crops_3_level.html")
                            .cardProduct__body
                                .cardProduct__main
                                    .h3.cardProduct__title= "Гречиха " + n++ + " сорт"
                                    .cardProduct__text
                                        p.p_md Богатое витаминами и минералами, зерно гречихи давно стало одним из самых востребованных товаров на рынке, несмотря на постоянно меняющиеся цены
                                .cardProduct__imageWrapper
                                    picture
                                        source(srcset="")
                                        img(src="./static/cooperation/sell/1.png")
                            .cardProduct__desc.features
                                .item.featur
                                    .caps_2 Регион
                                    p Воронежская область

                                .item.featur
                                    .caps_2 место хранение
                                    p г. Новохоперск

                                .item.featur
                                    .caps_2 ДО
                                    p ООО «Новохоперск-АГРО-Инвест»

                                .item.featur
                                    .caps_2 количество
                                    p 300 т


                pagination-component.pagination(data-container="replaceable-filter" data-scrollTo="filters-section")
                    .pagination-counts
                        a.h3_2.item.active(href="?p=1") 1
                        a.h3_2.item(href="?p=2") 2
                        a.h3_2.item(href="?p=3") 3
                        a.h3_2.item(href="?p=4") 4
                        a.h3_2.item(href="?p=5") 5
                        .h3_2.item.dots ...
                        a.h3_2.item(href="?p=20") 20
                    .pagination-arrows
                        a.pagination-arrow.arr.prev(href="?p=")
                            svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                use(xlink:href="#slider-arr")
                        a.pagination-arrow.arr.next(href="?p=")
                            svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                use(xlink:href="#slider-arr")

