extends ../base

block vars
  - var page = 'about';

block main-content
    section.artcl
        .wrapper.nr
            h1.artcl__title.scroll-block.js-scroll-block(data-text="true") Структура компании

    section.mb_120
        .wrapper.nr
            .desc
                .desc__content.big
                    p Воронежская область — крупный поставщик сельскохозяйственной продукции: она производит зерно (в основном пшеницу), сахарную свеклу, подсолнечник и другие технические культуры, картофель и овощи. В целом профиль сельского хозяйства — свекловичный с посевами подсолнечника и зерновых культур, молочно-мясным скотоводством, свиноводством и овцеводством. Среднедушевой коэффициент по производству крупы — 2,4 (данные 2002 года).
                    p Благоприятные климатические условия, наличие чернозёмов, способствуют развитию растениеводства. Площадь сельхозугодий занимает свыше 1,8 млн га, из них пашня — более 80 %. 22,3 тыс. га земли отведено под плодовые сады, где в основном выращивают яблони, груши, сливы. В области насчитывается около 300 сельскохозяйственных предприятий, основными направлениями которых являются: производство зерновых, сахарной свеклы, картофеля, разведение крупного рогатого скота, свиноводство, птицеводство. Объём валовой продукции сельского хозяйства в 2006 году составил около 24,2 млрд рублей.

    section.mb_120.staff
        .wrapper.nr

            .replaceable-staff(data-id="staff")
                .mb_60
                    .staff__heading
                        h2 Компании в составе Группы
                        .staff__switcher.switcher
                            a.switch.caps_2(is="inner-link" data-link-container="replaceable-staff" href="structure_1_level.html") управление
                            a.switch.caps_2(is="inner-link" data-link-container="replaceable-staff" href="structure_2_level.html") компании
                            .switch-input


                .filters.mb_40
                    div.flex
                        drop-down.drop-down.filter-select
                            .dd-button
                                .dd-button__title.p Регион
                                svg.ico-arr(width="15" height="8" viewBox="0 0 15 8" fill="none")
                                    use(xlink:href="#dd-arr")
                            .dd-wrapper
                                .dd-inner
                                    a.p.filter.filter-checkbox(is="filter-link" data-mode="include" data-container="replaceable-leadership-group" href="?filter[class]=1") Липецкая область
                                    a.p.filter.filter-checkbox(is="filter-link" data-mode="include" data-container="replaceable-leadership-group" href="?filter[class]=2") Волгоградская область
                                    a.p.filter.filter-checkbox(is="filter-link" data-mode="include" data-container="replaceable-leadership-group" href="?filter[class]=3") Курская область
                                    a.p.filter.filter-checkbox(is="filter-link" data-mode="include" data-container="replaceable-leadership-group" href="?filter[class]=4") Тамбовская область
                                    a.p.filter.filter-checkbox(is="filter-link" data-mode="include" data-container="replaceable-leadership-group" href="?filter[class]=5") Воронежская область




                .replaceable-leadership-group(data-id="leadership-group")
                    .mb_120
                        .filters-group.mb_28
                            .ftitle.caps ваш выбор
                            a.filter.filter-choose(is="filter-link" data-mode="include" data-container="replaceable-leadership-group" href="/structure_1_level.html?filter[class]=1")
                                p Липецкая область
                                .ico
                                    .ico-plus
                            a.filter.filter-choose(is="filter-link" data-mode="include" data-container="replaceable-leadership-group" href="/structure_1_level.html?filter[class]=2")
                                p Волгоградская область
                                .ico
                                    .ico-plus
                            a.filter.filter-choose(is="filter-link" data-mode="include" data-container="replaceable-leadership-group" href="/structure_1_level.html?filter[class]=3")
                                p Курская область
                                .ico
                                    .ico-plus
                            a.filter.filter-choose(is="filter-link" data-mode="include" data-container="replaceable-leadership-group" href="/structure_1_level.html?filter[class]=4")
                                p Тамбовская область
                                .ico
                                    .ico-plus
                            a.filter.filter-choose(is="filter-link" data-mode="include" data-container="replaceable-leadership-group" href="/structure_1_level.html?filter[class]=5")
                                p Воронежская область
                                .ico
                                    .ico-plus

                        button.filter.filter-reset.link_g(is="filters-reset" data-names=["class"] data-container="replaceable-leadership-group")
                            .ico-close.s
                            p Очистить фильтр

                    .mb_40
                        .filter-tabs
                            a.filter.filter-tab.caps_2(is="filter-link" data-tab=['auto'] data-container="replaceable-leadership" href="?filter[tab]=_") Выращивание
                            a.filter.filter-tab.caps_2(is="filter-link" data-tab=['auto'] data-container="replaceable-leadership" href="?filter[tab]=animal_production.html") Животноводство
                            a.filter.filter-tab.caps_2(is="filter-link" data-tab=['auto'] data-container="replaceable-leadership" href="?filter[tab]=storing.html") Хранение


                    .container.leaders.col-2.mb_80.replaceable-leadership(data-id="leadership")
                      -for (var i = 0; i < 3; i++)
                            .col.trigger.trigger-default(data-trigger-type="scroll")
                                .cardPerson.cardPerson_small
                                    .cardPerson__imageWrapper
                                        picture
                                            source(srcset="")
                                            img(src="/static/person/1.png")
                                    .cardPerson__desc
                                        .item
                                            .cardPerson__title
                                                a.interlinear(is="inner-link" href="details_2_level_2_4.html") ООО«Новохоперск-АГРО-Инвест»
                                            .cardPerson__text
                                                p Первый заместитель генерального директора
                                        .item
                                            .interlinear Афанасьев Василий Петрович
                                            .cardPerson__text
                                                p Директор

                                            .cardPerson__links.info__links
                                                a.link(href="mailto:info@agroinvest.com")
                                                    svg.ico(width="33" height="33" fill="none")
                                                        use(xlink:href="#mail")
                                                    p.link__text.p_md info@agroinvest.com

                                                a.link(href="tel:+74952326772")
                                                    svg.ico(width="33" height="31" fill="none")
                                                        use(xlink:href="#tel")
                                                    p.link__text.p_md +7 (495) 232-67-72
                                                a.link(href="#")
                                                    svg.ico(width="32" height="30" fill="none")
                                                        use(xlink:href="#address")
                                                    p.link__text.p_md 400066, Волгоградская обл., г. Волгоград, пр-кт им. Маршала Советского Союза Г.К. Жукова, д. 116б, оф. 219



                            .col.trigger.trigger-default(data-trigger-type="scroll")
                                .cardPerson.cardPerson_small
                                    .cardPerson__imageWrapper
                                        picture
                                            source(srcset="")
                                            img(src="/static/person/2.png")
                                    .cardPerson__desc
                                        .item
                                            .cardPerson__title
                                                a.interlinear(is="inner-link" href="details_2_level_2_4.html") ООО«Новохоперск-АГРО-Инвест»
                                            .cardPerson__text
                                                p Первый заместитель генерального директора
                                        .item
                                            .interlinear Афанасьев Василий Петрович
                                            .cardPerson__text
                                                p Директор
                                            .cardPerson__links.info__links
                                                a.link(href="mailto:info@agroinvest.com")
                                                    svg.ico(width="33" height="33" fill="none")
                                                        use(xlink:href="#mail")
                                                    p.link__text.p_md info@agroinvest.com

                                                a.link(href="tel:+74952326772")
                                                    svg.ico(width="33" height="31" fill="none")
                                                        use(xlink:href="#tel")
                                                    p.link__text.p_md +7 (495) 232-67-72
                                                a.link(href="#")
                                                    svg.ico(width="32" height="30" fill="none")
                                                        use(xlink:href="#address")
                                                    p.link__text.p_md 110178, Псковская область, город Мытищи, пл. Сталина, 41

                            .col.trigger.trigger-default(data-trigger-type="scroll")
                                .cardPerson.cardPerson_small
                                    .cardPerson__imageWrapper
                                        picture
                                            source(srcset="")
                                            img(src="/static/person/2.png")
                                    .cardPerson__desc
                                        .item
                                            .cardPerson__title
                                                a.interlinear(is="inner-link" href="details_2_level_2_4.html") ООО«Новохоперск-АГРО-Инвест»
                                            .cardPerson__text
                                                p Первый заместитель генерального директора
                                        .item
                                            .interlinear Константинов Константин Константинопольский
                                            .cardPerson__text
                                                p Директор
                                            .cardPerson__links.info__links
                                                a.link(href="mailto:info@agroinvest.com")
                                                    svg.ico(width="33" height="33" fill="none")
                                                        use(xlink:href="#mail")
                                                    p.link__text.p_md info@agroinvest.com

                                                a.link(href="tel:+74952326772")
                                                    svg.ico(width="33" height="31" fill="none")
                                                        use(xlink:href="#tel")
                                                    p.link__text.p_md +7 (495) 232-67-72
                                                a.link(href="#")
                                                    svg.ico(width="32" height="30" fill="none")
                                                        use(xlink:href="#address")
                                                    p.link__text.p_md 141675, Астраханская область, город Орехово-Зуево, спуск Славы, 28


                    .load-more.flex
                        a.load-more__all.btn.btn_def.green(is="load-more" id="load-more-leadership" data-link-container="replaceable-leadership" href="structure/structure_bottom_level.html?p=2")
                            p.btn__text Загрузить еще
                            svg.ico(width="24" height="21" fill="none")
                                path(d="M21.094 10.5a9 9 0 00-16.5-4.977m-1.5 4.977a9 9 0 0016.484 5" stroke="#4E8925" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M4.008 1.5l.307 4.335L8.508 6M20.879 18.965l-.307-4.335-4.193-.165" stroke="#4E8925" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
