.replaceable(data-id="popup")
    include ./popup/popup-menu
    include ./popup/popup-dropdown
    include ./popup/replaceable-content
    include ./popup/popup-crisis

    include ./popup/popup-photos
    //include ./popup-new/popup-other_asset
