section.purchase.mb_120
    .wrapper.nr
        .flex.margin-bottom_60
            a.lk_title(href="" is="inner-link")
                h2.title.scroll-block.js-scroll-block(data-text="true") Закупки
                .btn.btn_sq
                    svg.ico(width="8" height="15" fill="none")
                        use(xlink:href="#arr-s")

        .purchase__cards.flex
            article.purchaseCard
                .purchaseCard__info
                    .purchaseCard__title.p_big до 30 сентября
                    a.purchaseCard__type(href="#service") Услуги
                .purchaseCard__desc.text_md Пуско-наладочные работы под нагрузкой. Компрессорные станции и дожимные компрессорные станции. Оказание услуг по организации химической обработки сельскохозяйственных угодий. Оказание услуг по выращиванию сельскохозяйственных культур
                a.purchaseCard__button.button.button_size_default.button_theme-green(href="#art_1")
                    .button__icon.button__icon-arrow_stroke
                        svg(width="26" height="20" viewBox="0 0 26 20")
                            use(xlink:href="#art-arr")
                a.purchaseCard__link(href="#art_1")
            article.purchaseCard
                .purchaseCard__info
                    .purchaseCard__title.p_big до 30 сентября
                    a.purchaseCard__type(href="#service") Услуги
                .purchaseCard__desc.text_md Оказание услуг по выращиванию сельскохозяйственных культур
                a.purchaseCard__button.button.button_size_default.button_theme-green(href="#art_1")
                    .button__icon.button__icon-arrow_stroke
                        svg(width="26" height="20" viewBox="0 0 26 20")
                            use(xlink:href="#art-arr")
                a.purchaseCard__link(href="#art_1")

            article.purchaseCard
                .purchaseCard__info
                    .purchaseCard__title.p_big до 30 сентября
                    a.purchaseCard__type(href="#service") Услуги
                .purchaseCard__desc.text_md Оказание услуг по организации химической обработки сельскохозяйственных угодий
                a.purchaseCard__button.button.button_size_default.button_theme-green(href="#art_2")
                    .button__icon.button__icon-arrow_stroke
                        svg(width="26" height="20" viewBox="0 0 26 20")
                            use(xlink:href="#art-arr")
                a.purchaseCard__link(href="#art_2")

            article.purchaseCard
                .purchaseCard__info
                    .purchaseCard__title.p_big до 30 сентября
                    a.purchaseCard__type(href="#service") Услуги
                .purchaseCard__desc.text_md Оказание услуг (выполнение работ) по ручному покосу травы, обработке гербицидами (без учета гербицидов)
                a.purchaseCard__button.button.button_size_default.button_theme-green(href="#art_3")
                    .button__icon.button__icon-arrow_stroke
                        svg(width="26" height="20" viewBox="0 0 26 20")
                            use(xlink:href="#art-arr")
                a.purchaseCard__link(href="#art_3")
