section.information.margin-bottom_130
    .wrapper.nr
        .flex
            a.lk_title(href="news.html" is="inner-link")
                .title.h2.scroll-block.js-scroll-block(data-text="true") Новости
                .btn.btn_sq
                    svg.ico(width="8" height="15" fill="none")
                        use(xlink:href="#arr-s")
        .information__slider.swiper-container.js-slider(data-slider="information-slider")
            .swiper-wrapper
                .swiper-slide
                    .informationCard.informationCard_withBg
                        .informationCard__imageWrapper
                            picture.informationCard__picture
                                source(srcset="./static/information/1.webp" type="image/webp")
                                img.informationCard__image(src="./static/information/1.png")
                        .informationCard__body
                            .informationCard__info
                                .informationCard__date 12 июня
                                .informationCard__dot
                                a.informationCard__type Мероприятия
                            .informationCard__desc.text_md Приобрели активы шведской Black Earth Farming, доведя свой земельный банк до 452 тысяч га.
                .swiper-slide
                    .informationCard.informationCard_border
                        .informationCard__imageWrapper
                            picture.informationCard__picture
                                source(srcset="./static/information/2.webp" type="image/webp")
                                img.informationCard__image(src="./static/information/2.png")
                        .informationCard__body
                            .informationCard__info
                                .informationCard__date 12 июня
                                .informationCard__dot
                                a.informationCard__type Актуальное
                            .informationCard__desc.text_md Приобрели активы шведской Black Earth Farming, доведя свой земельный банк до 452 тысяч га.
                .swiper-slide
                    .informationCard.informationCard_border
                        .informationCard__imageWrapper
                            picture.informationCard__picture
                                img.informationCard__image(src="./static/information/3.png")
                        .informationCard__body
                            .informationCard__info
                                .informationCard__date 12 июня
                                .informationCard__dot
                                a.informationCard__type Инновации
                            .informationCard__desc.text_md Приобрели активы шведской Black Earth Farming, доведя свой земельный банк до 452 тысяч га.
                .swiper-slide
                    .informationCard.informationCard_border
                        .informationCard__imageWrapper
                            picture.informationCard__picture
                                source(srcset="./static/information/3.webp" type="image/webp")
                                img.informationCard__image(src="./static/information/3.png")
                        .informationCard__body
                            .informationCard__info
                                .informationCard__date 12 июня
                                .informationCard__dot
                                a.informationCard__type Мероприятия
                            .informationCard__desc.text_md Приобрели активы шведской Black Earth Farming, доведя свой земельный банк до 452 тысяч га.
                .swiper-slide
                    .informationCard.informationCard_border
                        .informationCard__imageWrapper
                            picture.informationCard__picture
                                source(srcset="./static/information/3.webp" type="image/webp")
                                img.informationCard__image(src="./static/information/3.png")
                        .informationCard__body
                            .informationCard__info
                                .informationCard__date 12 июня
                                .informationCard__dot
                                a.informationCard__type Мероприятия
                            .informationCard__desc.text_md Приобрели активы шведской Black Earth Farming, доведя свой земельный банк до 452 тысяч га.
                .swiper-slide
                    .informationCard.informationCard_border
                        .informationCard__imageWrapper
                            picture.informationCard__picture
                                source(srcset="./static/information/3.webp" type="image/webp")
                                img.informationCard__image(src="./static/information/3.png")
                        .informationCard__body
                            .informationCard__info
                                .informationCard__date 12 июня
                                .informationCard__dot
                                a.informationCard__type Мероприятия
                            .informationCard__desc.text_md Приобрели активы шведской Black Earth Farming, доведя свой земельный банк до 452 тысяч га.
                .swiper-slide
                    .informationCard.informationCard_border
                        .informationCard__imageWrapper
                            picture.informationCard__picture
                                source(srcset="./static/information/3.webp" type="image/webp")
                                img.informationCard__image(src="./static/information/3.png")
                        .informationCard__body
                            .informationCard__info
                                .informationCard__date 12 июня
                                .informationCard__dot
                                a.informationCard__type Мероприятия
                            .informationCard__desc.text_md Приобрели активы шведской Black Earth Farming, доведя свой земельный банк до 452 тысяч га.
        .information__sliderNav
            .information__sliderProgress.swiper-pagination.slider-progress.js-slider-progress(data-slider="information-slider")
            .information__sliderButton
                .slider-button.slider-button-prev.js-slider-control-prev(data-slider="information-slider")
                    <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 19L1 10M1 10L10 1M1 10H25" stroke="#4E8925" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                .slider-button.slider-button-next.js-slider-control-next(data-slider="information-slider")
                    <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 19L25 10M25 10L16 1M25 10H1" stroke="#4E8925" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
