.desc__aside.contacts
    .info
        .h3_2.info__title Служба поддержки
        .info__links
            a.link(href="mailto:info@agroinvest.com")
                svg.ico(width="33" height="33" fill="none")
                    use(xlink:href="#mail")
                .link__text.p_md info@agroinvest.com

            a.link(href="tel:+74952326772")
                svg.ico(width="33" height="31" fill="none")
                    use(xlink:href="#tel")
                .link__text.p_md +7 (495) 232-67-72
