.filter-buttons
    a.filter.btn_round(is="filter-link" data-mode="include" href="filter[auto]=tractors") Тракторы
    a.filter.btn_round(is="filter-link" data-mode="include" href="filter[auto]=sowing-technology") Посевная техника
    a.filter.btn_round(is="filter-link" data-mode="include" href="filter[auto]=harvesting-equipment") Уборочная техника
    a.filter.btn_round(is="filter-link" data-mode="include" href="filter[auto]=tillage") Почвообработка
    a.filter.btn_round(is="filter-link" data-mode="include" href="filter[auto]=sprayers") Опрыскиватели
    a.filter.btn_round(is="filter-link" data-mode="include" href="filter[auto]=spreaders") Разбрасыватели
