.cardMap.cardMap_contact
    .cardMap__main.h3_2.scroll-block.js-scroll-block(data-text="true") Офис в Москве
    .cardMap__desc
        .info__links
            a.link(href="mailto:info@agroinvest.com")
                svg.ico(width="33" height="33" fill="none")
                    path(d="M4.367 8.739a2.497 2.497 0 012.497-2.497h18.725a2.497 2.497 0 012.496 2.497v13.107a2.497 2.497 0 01-2.496 2.497H6.864a2.497 2.497 0 01-2.497-2.497V8.74z" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M8.738 11.238l7.747 6.242 7.233-6.242" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                p.link__text.p_md info@agroinvest.com

            a.link(href="tel:+74952326772")
                svg.ico(width="33" height="31" fill="none")
                    path(d="M26.384 22.05c-1.175 2.817-3.93 3.311-4.83 3.311-.264 0-4.38.218-10.298-5.396-4.763-4.52-5.345-9.378-5.396-10.301-.049-.9.209-3.156 3.311-4.832.384-.207 1.147-.3 1.343-.102.088.087 2.692 4.373 2.76 4.515a.959.959 0 01.103.418c0 .196-.14.44-.419.735a7.139 7.139 0 01-.91.807 8.856 8.856 0 00-.91.778c-.279.274-.418.5-.418.676.019.457.393 2.094 3.246 4.602 2.853 2.508 4.228 3.214 4.36 3.263a.994.994 0 00.33.073c.176 0 .402-.14.676-.418.273-.28 1.194-1.542 1.488-1.821.294-.279.538-.418.734-.418.137 0 .277.034.418.102.142.069 4.433 2.58 4.515 2.664.223.228.065.94-.103 1.344z" stroke="#4E8925")
                p.link__text.p_md +7 (495) 232-67-72
            a.link(target="_blank" href="https://yandex.ru/maps/10672/voronezh-oblast/house/ulitsa_karla_marksa_2a/YEgYcg5iSUcDQFtrfX12c31gYQ==/?ll=41.492024%2C51.172135&z=17.2")
                svg.ico(width="32" height="30" fill="none")
                    path(d="M25.628 11.655c0 3.55-4.598 10.55-7.21 14.239a2.14 2.14 0 01-3.517 0c-2.612-3.69-7.21-10.688-7.21-14.239 0-4.96 4.016-8.98 8.969-8.98 4.953 0 8.968 4.02 8.968 8.98z" stroke="#4E8925")
                    circle(cx="16.659" cy="11.643" r="4.198" stroke="#4E8925")
                p.link__text.p_md Липецкая область, Усманский район,село Девица
        address.info__links
            a.link(target="_blank" href="https://yandex.ru/maps/10672/voronezh-oblast/house/ulitsa_karla_marksa_2a/YEgYcg5iSUcDQFtrfX12c31gYQ==/?ll=41.492024%2C51.172135&z=17.2")
                svg.ico(width="33" height="33" fill="none")
                    path(d="M25.872 11.872c0 3.453-4.4 10.207-7 13.894a2.26 2.26 0 01-3.724 0c-2.6-3.687-7-10.44-7-13.894C8.148 6.972 12.116 3 17.01 3s8.862 3.972 8.862 8.872z" stroke="#4E8925")
                    circle(cx="17.009" cy="11.861" r="4.142" stroke="#4E8925")
                    path(d="M12.906 22.552C9.986 23.221 8 24.532 8 26.042 8 28.227 12.168 30 17.31 30s9.31-1.772 9.31-3.959c0-1.61-2.086-2.87-5.329-3.49" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")

                p.link__text.p_md <span>Юридический адрес</span> 399346, Липецкая область, Усманский район, село Завальное, ул. Ленина, 115

    .cardMap__mapWrapper
        map-component
            .container
