article.cardInfo.cardInfo_tender
    a.cardInfo__link(is="inner-link" href="tender_2_level.html")
    .item.cardInfo__desc
        .cardInfo__number.caps_2 № 0023/19/4.5/0029714/ДНоябрьск/МИ/ГОС/Э/03.05.2019
        .cardInfo__text.p_md Земельный участок на трассе М4, 2408 кв.м.
    .item
        .cardInfo__caption.caps_2 Приём заявок
        .cardInfo__text.p_md  до 15:00 16.06.2019
