article.cardInfo.cardInfo_crop
    a.cardInfo__link(is="inner-link" href="")
    .cardInfo__title.p_md ООО «ЛАПК»
    a.btn.btn_def.green(href="#art_1")
        .button__icon.button__icon-arrow_stroke
            svg(width="26" height="20" viewBox="0 0 26 20")
                use(xlink:href="#art-arr")
