.cardMap
    .cardMap__body
        a.h3_2.cardMap__title(is="inner-link" href="") ООО «Новохоперск-Агро-Инвест»
        .cardMap__subtitle
            p.p_md Работает в Новохоперском и Грибановском районах
        .cardMap__desc
            .info__links
                a.link(href="mailto:info@agroinvest.com")
                    svg.ico(width="33" height="33" fill="none")
                        use(xlink:href="#mail")
                    p.link__text.p_md info@agroinvest.com

                a.link(href="tel:+74952326772")
                    svg.ico(width="33" height="31" fill="none")
                        use(xlink:href="#tel")
                    p.link__text.p_md +7 (495) 232-67-72
                a.link(target="_blank" href="https://yandex.ru/maps/10672/voronezh-oblast/house/ulitsa_karla_marksa_2a/YEgYcg5iSUcDQFtrfX12c31gYQ==/?ll=41.492024%2C51.172135&z=17.2")
                    svg.ico(width="32" height="30" fill="none")
                        use(xlink:href="#address")

                    p.link__text.p_md Воронежская обл., Новохопёрский р-н, село Красное, ул. Карла Маркса, 2А

    .cardMap__list
        ul
            li Сахарная свекла
            li Подсолнечник
            li Кукуруза
            li Пшеница
            li Соя
            li Ячмень
