.docs {

}

.docs_dd {
    padding: 40px 40px 60px;
    border: 1px solid var(--grey);
    border-radius: 8px;

    @media (max-width: $to-medium) {
        padding: 30px 30px 40px;
    }

    @media (max-width: $to-small) {
        padding: 20px 20px 30px;
    }
}

.docs__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.link-doc {

    .ico {
        margin-right: 20px;
        margin-top: -6px;
    }

    .link__text {
        width: calc(100% - 48px);
        letter-spacing: normal;

        .p {
            margin-bottom: 0;
        }
    }

    .inffile {
        color: var(--greyDark);
        margin-top: 5px;
    }

}
