section.section.benefits.main__benefits.margin-bottom_100
    .wrapper.nr
        .benefit__list.flex
            .benefit__listItem
                .benefit__itemIcon.js-scroll-block(data-delayd=".15" data-delaym=".2")
                    img(src="./static/benefits/1.svg")
                .h3_2.benefit__itemName.scroll-block.js-scroll-block(data-text="true" data-delayd=".2" data-delaym=".25") 452 000 гектаров
                .benefit__itemText земельных активов

            .benefit__listItem
                .benefit__itemIcon.js-scroll-block(data-delayd=".25" data-delaym=".2")
                    img(src="./static/benefits/2.svg")
                .h3_2.benefit__itemName.scroll-block.js-scroll-block(data-text="true" data-delayd=".3" data-delaym=".25") 4  направления
                .benefit__itemText сельскохозяйственной деятельности
            .benefit__listItem
                .benefit__itemIcon.js-scroll-block(data-delayd=".35" data-delaym=".2")
                    img(src="./static/benefits/3.svg")
                .h3_2.benefit__itemName.scroll-block.js-scroll-block(data-text="true" data-delayd=".4" data-delaym=".25") 980 тонн
                .benefit__itemText валовая урожайность <br> в 2019 году
            .benefit__listItem
                .benefit__itemIcon.js-scroll-block(data-delayd=".45" data-delaym=".2")
                    img(src="./static/benefits/4.svg")
                .h3_2.benefit__itemName.scroll-block.js-scroll-block(data-text="true" data-delayd=".5" data-delaym=".25") 4 500 человек
                .benefit__itemText численность сотрудников
