section.dislaimer.j-dislaimer.is-hidden
    .wrapper
        .dislaimer-content
            .inner
                .text
                    p Просматривая этот сайт, вы соглашаетесь с нашей <a class="link" href="#" target="_blank">политикой конфиденциальности</a>
                    <span class="button button_size_default button_theme-green j-dislaimer-ok"><span class="button__text">применить</span></span>