footer.footer.trigger.trigger-default(data-trigger-type="scroll")
    .wrapper.nr
        .grid.grid_4
            a.footer__logo
                svg(width="219" height="58" fill="none")
                    path(d="M86.426 31.337h5.43l-2.705-6.813-2.725 6.813zM82 36.694l6.29-14.529h1.845l6.23 14.529h-2.296l-1.475-3.57h-6.885l-1.455 3.57H82zM98.228 36.693V22.164h8.463v1.786h-6.434v12.743h-2.029zM110.65 28.587h2.151c2.254 0 3.381-.793 3.381-2.38 0-1.546-1.113-2.319-3.34-2.319h-2.192v4.699zm-2.029 8.106V22.164h4.426c1.626 0 2.896.333 3.811.996.916.664 1.373 1.68 1.373 3.047 0 1.395-.481 2.428-1.444 3.098-.963.671-2.244 1.005-3.843 1.005h-2.294v6.383h-2.029zM127.732 35.236c1.653 0 2.985-.557 3.997-1.672 1.01-1.116 1.515-2.5 1.515-4.155 0-1.642-.505-3.024-1.515-4.145-1.012-1.122-2.344-1.683-3.997-1.683-1.626 0-2.944.561-3.954 1.683-1.012 1.12-1.517 2.503-1.517 4.145 0 1.654.505 3.039 1.517 4.154 1.01 1.116 2.328 1.673 3.954 1.673zm0 1.825c-2.213 0-4.044-.718-5.491-2.153-1.449-1.437-2.173-3.27-2.173-5.499 0-2.245.721-4.073 2.163-5.49 1.44-1.415 3.275-2.123 5.501-2.123 2.227 0 4.068.708 5.522 2.123 1.455 1.417 2.183 3.245 2.183 5.49 0 2.229-.728 4.062-2.183 5.499-1.454 1.435-3.295 2.153-5.522 2.153zM138.207 36.693V22.164h2.028v11.512h.041l7.315-11.512h2.234v14.529h-2.029V25.18h-.04l-7.316 11.513h-2.233zM153.35 36.693V22.164h2.028v6.074h7.356v-6.074h2.029v14.529h-2.029v-6.648h-7.356v6.648h-2.028zM170.319 34.97h2.541c.642 0 1.216-.07 1.721-.206.505-.137.946-.401 1.323-.79.374-.391.562-.893.562-1.508 0-1.629-1.14-2.443-3.421-2.443h-2.726v4.946zm0-6.67h2.644c.832 0 1.515-.188 2.049-.565.532-.376.799-.94.799-1.692 0-1.45-1.059-2.175-3.176-2.175h-2.316V28.3zm-2.028 8.393V22.164h4.999c1.257 0 2.329.294 3.218.882.887.59 1.332 1.52 1.332 2.792 0 .78-.23 1.45-.687 2.01-.457.562-1.076.944-1.854 1.15v.041c.955.11 1.731.477 2.325 1.107.595.63.892 1.436.892 2.421 0 1.342-.509 2.363-1.527 3.069-1.018.704-2.326 1.057-3.924 1.057h-4.774zM181.443 36.693V22.164h9.303v1.786h-7.274v4.35h6.844v1.745h-6.844v4.842h7.581v1.806h-9.61zM200.663 37.061c-2.228 0-4.057-.718-5.493-2.153-1.434-1.437-2.15-3.27-2.15-5.499 0-2.245.73-4.073 2.192-5.49 1.461-1.415 3.306-2.123 5.532-2.123 1.039 0 2.035.199 2.992.594.957.398 1.694.952 2.213 1.663l-1.598 1.231c-.355-.506-.86-.916-1.516-1.23a4.768 4.768 0 00-2.091-.473c-1.639 0-2.967.561-3.985 1.683-1.018 1.12-1.527 2.503-1.527 4.145 0 1.668.499 3.06 1.496 4.174.997 1.116 2.315 1.674 3.955 1.674 1.707 0 3.004-.643 3.894-1.93l1.618 1.108c-1.284 1.752-3.129 2.626-5.532 2.626zM211.32 36.693V23.95h-4.65v-1.786h11.331v1.786h-4.651v12.743h-2.03z" fill="#F2B43D")
                    path(d="M71.168 58c-1.885-.306-3.768-.625-5.656-.914a148.977 148.977 0 00-4.282-.588 172.464 172.464 0 00-4.03-.436c-1.436-.143-2.87-.287-4.309-.399a235.68 235.68 0 00-4.86-.32c-1.522-.088-3.044-.17-4.567-.22-1.975-.065-3.952-.098-5.928-.137-.168-.003-.266-.051-.356-.2a28.724 28.724 0 01-3.617-9.208c-.512-2.502-.574-4.487-.504-7.58.024-.328.053-.658.06-.987.005-.206.085-.24.28-.228 1.26.072 2.52.18 3.78.18 2.532-.002 4.992-.475 7.387-1.292a24.61 24.61 0 008.49-4.968c.283-.252.559-.511.862-.79.351.568.693 1.117 1.032 1.668 3.06 4.985 6.118 9.971 9.177 14.957 2.26 3.682 4.518 7.365 6.779 11.046M.121 57.99l17.96-29.263c3.572 3.952 7.955 6.492 13.142 7.669-.961 6.503.025 12.682 2.998 18.588-11.454.098-22.796.997-34.1 3.005zM35.646.13l9.296 15.149c-7.259 4.828-11.78 11.473-13.554 20.053-1.024-.383-2.03-.714-3-1.13-3.26-1.396-6.024-3.473-8.316-6.176-.26-.306-.496-.63-.755-.934-.113-.133-.094-.225-.007-.366 1.5-2.435 2.99-4.876 4.485-7.314 1.756-2.863 3.516-5.724 5.272-8.587L35.497.339c.037-.057.079-.11.149-.208z" fill="#2E481E")
                    path(d="M55.553 27.305c-.477.53-.89 1.017-1.334 1.474-.593.608-1.172 1.238-1.825 1.777-.837.691-1.736 1.31-2.622 1.94-.382.272-.786.52-1.202.736-.725.377-1.452.758-2.204 1.074a21.761 21.761 0 01-4.346 1.342c-1.567.3-3.146.454-4.745.43a26.042 26.042 0 01-3.646-.333c-.247-.039-.301-.128-.262-.376.336-2.11.875-4.163 1.699-6.138.262-.628.389-.998 1.076-1.24 1.094-.387 2.173-.821 3.282-1.156 1.594-.482 3.233-.763 4.893-.914a27.026 27.026 0 016.326.164 26.68 26.68 0 014.553 1.08c.093.03.181.072.357.14z" fill="#F2B43D")
                    path(d="M35.871 27.274c.325-.617.58-1.17.896-1.685a58.028 58.028 0 011.79-2.774c.438-.631.916-1.244 1.445-1.8.282-.297.685-.527 1.076-.662 1.068-.37 2.147-.722 3.244-.994a26.004 26.004 0 015.831-.743c1.862-.032 3.709.103 5.528.474 1.142.233 2.257.595 3.385.893.198.052.236.154.165.331-.245.61-.476 1.227-.736 1.832-.283.657-.559 1.321-.898 1.95-.431.802-.805 1.507-1.428 2.325-.105.211-.246.216-.446.144-1.426-.517-2.896-.873-4.39-1.128-2.235-.381-4.487-.455-6.744-.278-2.337.183-4.62.64-6.832 1.428-.518.185-1.708.634-1.886.687z" fill="#F2B43D")
                    path(d="M41.594 19.258c.72-.646 1.403-1.339 2.169-1.925 1.086-.831 2.192-1.651 3.364-2.352 1.2-.718 2.475-1.318 3.746-1.909a20.64 20.64 0 012.303-.89c.97-.303 1.75-.494 2.741-.687 1.355-.263 2.734-.397 4.102-.589.16-.022.21.05.224.2.133 1.327.188 2.66.032 3.985-.133 1.131-.34 2.252-.524 3.377-.04.243-.113.483-.196.714-.02.054-.161.109-.229.092-1.26-.32-2.507-.697-3.777-.961-.958-.2-1.943-.277-2.919-.37-.638-.06-1.282-.06-1.924-.07-1.427-.024-2.843.108-4.254.314-1.63.238-3.22.653-4.79 1.147l-.068-.076z" fill="#F2B43D")

            .footer__menu
                a.footer__listLink(is="inner-link" href="contacts.html") Контакты
                a.footer__listLink Карта сайта
                .footer__linksLang
                    a.footer__listLink.active Рус
                    a.footer__listLink En
            .footer__form
                .footer__preFormTitle.h3 Будьте в курсе всех наших новостей!
                .form-wrapper
                    form-response.response(data-id="form-follow")
                        .response-inner
                    form.footer__formFollow(action="./response.json" data-id="form-follow" method="post" is="form-component")
                        .form__line
                            label.input-wrapper.input-wrapper_green(is="input-wrapper")
                                span.placeholder.placeholder_inside Ваша почта
                                input.input(name="userEmail" type="email")
                            button.button.green.button_size_default.button__form.button_flex
                                .button__text Подписаться
            .footer__copy
                .footer__desc © Волго-Дон АргоИнвест, 2020. Все права защищены
                .footer__desc.sm Вся информация на сайте носит справочный характер и не является публичной офертой, определяемой статьей 437 ГК РФ
            a.footer__rc
                span.icon
                    svg(width="26" height="10" viewBox="0 0 26 10" fill="none")
                        path(opacity="0.4" d="M26 1.04819L25.6026 0.644531L12.9924 4.75583L0.397413 0.644531L0 1.04819L9.52263 9.64453L12.9924 5.63789L16.4774 9.64453L26 1.04819Z" fill="#4E8925")
                span Сделано в Red Collar
            .socials.socials_footer
                a.social__item
                    svg.f-g(width="32" height="32" viewBox="0 0 32 32" fill="transparent")
                        use(xlink:href="#vk")

                a.social__item
                    svg.f-g(width="32" height="32" viewBox="0 0 32 32" fill="transparent")
                        use(xlink:href="#ok")

                a.social__item
                    svg.f-g(width="32" height="32" viewBox="0 0 32 32" fill="transparent")
                        use(xlink:href="#tg")

