header.header(is="header-component")
    .wrapper.header__wrapper
        a.header__logo(href="/" is="inner-link")
            picture
                img(src="./static/logo.svg")
        button.header__mobile.close-all(is="popup-toggle" data-id="popup-menu")
            .fa

        nav.header__nav
            navigation-group.nav-item
                a.header__link.inner(href="about.html" is="inner-link") О компании
                .dd
                    .dd-wr
                        .wrapper
                            .dd-in
                                a.header__link_sub.p(is="inner-link" href="") Миссия
                                a.header__link_sub.p(is="inner-link" href="structure_2_level.html") Структура
                                a.header__link_sub.p(is="inner-link" href="history.html") История
                                a.header__link_sub.p(is="inner-link" href="geography_0_1_level.html") География
                                a.header__link_sub.p(is="inner-link" href="") Технологии
                                a.header__link_sub.p(is="inner-link" href="") Документы
            navigation-group.nav-item
                a.header__link.inner(href="cooperation.html" is="inner-link") Сотрудничество
                .dd
                    .dd-wr
                        .wrapper
                            .dd-in
                                a.header__link_sub.p(is="inner-link" href="cooperation-text.html") Продажа с/х продукции
                                a.header__link_sub.p(is="inner-link" href="non-profile.html") Реализация непрофильных активов
                                a.header__link_sub.p(is="inner-link" href="buy_crops_1_level.html") Закупка с/х продукции
                                a.header__link_sub.p(is="inner-link" href="sell_mech_now_switcher-bu.html") Прочие продажи
                                a.header__link_sub.p(is="inner-link" href="tenders_1_level.html") Закупки
            navigation-group.nav-item
                a.header__link.inner(href="activities.html" is="inner-link") Деятельность
                .dd
                    .dd-wr
                        .wrapper
                            .dd-in
                                a.header__link_sub.p(is="inner-link" href="growing.html") Выращивание
                                a.header__link_sub.p(is="inner-link" href="") Хранение и подработка
                                a.header__link_sub.p(is="inner-link" href="") Трейдинг
                                a.header__link_sub.p(is="inner-link" href="") Инновационные технологии
                                a.header__link_sub.p(is="inner-link" href="digital-system.html") Цифровизация систем управления
            navigation-group.nav-item
                a.header__link.inner(href="career.html" is="inner-link") Карьера
                .dd
                    .dd-wr
                        .wrapper
                            .dd-in
                                a.header__link_sub.p(is="inner-link" href="jobs_1_level.html") Вакансии
                                a.header__link_sub.p(is="inner-link" href="") Обучение
                                a.header__link_sub.p(is="inner-link" href="") Истории успеха
                                a.header__link_sub.p(is="inner-link" href="") Поддержка молодых специалистов
                                a.header__link_sub.p(is="inner-link" href="") Выпускникам и студентам
            navigation-group.nav-item
                a.header__link.inner(href="responsibility.html" is="inner-link") Ответственность
                .dd
                    .dd-wr
                        .wrapper
                            .dd-in
                                a.header__link_sub.p(is="inner-link" href="") Социальная ответственность
                                a.header__link_sub.p(is="inner-link" href="") Безопасность производства
                                a.header__link_sub.p(is="inner-link" href="") Забота о сотрудниках
                                a.header__link_sub.p(is="inner-link" href="") Охрана труда
            navigation-group.nav-item
                a.header__link.inner(href="press-center.html" is="inner-link") Пресс-центр
                .dd
                    .dd-wr
                        .wrapper
                            .dd-in
                                a.header__link_sub.p(is="inner-link" href="news.html") Новости
                                a.header__link_sub.p(is="inner-link" href="photoset_2_level_2.html") Фотогалерея
                                a.header__link_sub.p(is="inner-link" href="success_1_level.html") Доска достижений
                                a.header__link_sub.p(is="inner-link" href="about-press-center.html") Пресса о нас
            navigation-group.nav-item
                a.header__link.inner(href="press-center.html" is="inner-link") Контакты
        button.btn.brdgreen.btn_def.header__button(is="popup-toggle" data-id="popup-crisis")
            .btn__text Служба доверия
