section.question
    .wrapper.nr
        .flex
            .question__desc
                h2.h2.question__title.scroll-block.js-scroll-block.js-dd-title(data-text="true" data-el=".dd-t-fake") Что вы хотите узнать?
            .dropdown.question__dropdown
                button.h2.dropdown__header.dropdown__header_bb(is="popup-toggle" data-id="popup-dropdown") Как устроиться на работу?
                    svg(class="dropdown__headerIcon" width="20" height="11" viewBox="0 0 20 11" fill="transparent")
                        path(d="M1 0.999999L10 10L19 1" stroke="#4E8925" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
