.header {
    padding: 12px 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 1;
    transition: opacity 300ms var(--easeOutQuad);


    &:before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: var(--white);
        z-index: -1;
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;

    }

    &__wrapper {
        display: flex;
        align-items: center;
        //justify-content: space-between;
        flex-wrap: wrap;
        position: static;
    }

    &__logo {

        margin: 0 rem(40px) 0 0;

        @media screen and (max-width: $to-large) {
            margin: 0 30px 0 0;
        }

        @media screen and (max-width: $to-medium) {
            margin: 0;

            img {
                //width: calc(200px);
            }
        }
    }

    &__mobile {
        margin: 0 0 0 auto;

        @media (min-width: 1291px) {
            display: none;
        }

        position: relative;
        padding: 22px;
        background: rgba(78, 137, 37, 0.08);
        border-radius: 8px;

        .fa {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 2px;
            width: 60%;
            margin: auto;
            background: var(--green);

            &:before,
            &:after {
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                width: 100%;
                height: 2px;
                background-color: var(--green);
            }

            &:before {
                top: 14px;
            }

            &:after {
                bottom: 14px;
            }
        }

        &.active {
            z-index: 100;
        }
    }

    &__link {
        color: var(--default);
        font-size: 21px;
        line-height: 1.18em;
        letter-spacing: -0.02em;
        margin-right: rem(32px);

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: var(--green);
        }

        &.active {
            color: var(--green);
        }

        @media screen and (max-width: 1450px) {
            font-size: 16px;
            margin-right: rem(24px);
        }

        @media screen and (max-width: 1100px) {
            font-size: 16px;
        }
    }

    &__nav {
        display: flex;
        margin-right: rem(32px);

        @media screen and (max-width: 1290px) {
            display: none;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        margin-left: auto;

        @media (max-width: 1290px) {
            margin-left: 20px;
        }

        @media (max-width: $to-small) {
            display: none !important;
        }

    }
}

.nav-item {
    .dd {
        top: 0;
        left: 0;
        right: 0;
        padding: 100px 0 0;
        white-space: nowrap;
        opacity: 0;
        transform: translateY(10px);
        transition: all .4s var(--ease-in);
        position: absolute;
        pointer-events: none;

        &.visible {
            opacity: 1;
            transform: translateY(0);
            transition: all .2s var(--ease-out);

            .dd-in {
                pointer-events: auto;
            }
        }
    }

    .dd-wr {
        border-top: 1px solid var(--grey);
        position: relative;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            background: var(--white);
        }
    }

    .dd-in {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        pointer-events: none;
        padding: 20px 0 40px 163px;
    }
}

.header__link_sub {
    margin-bottom: 12px;
    color: var(--default);

    &:hover {
        color: var(--green);
    }

    &.active {
        color: var(--green);
    }
}
