.cardProduct {
    padding: 40px 30px;
    background: var(--white);
    border-radius: 16px;
    position: relative;
    transform: translateY(0);
    transition: transform .35s, box-shadow .35s;
    transition-timing-function: var(--ease);

    @media (max-width: $to-medium) {
        padding: 30px 24px;
    }

    @media (max-width: $to-small) {
        padding: 24px 16px;
    }

    &:hover {
        box-shadow: 0 8px 23px rgba(78, 137, 37, 0.14);
        transform: translateY(-4px);
    }

    &__link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__body {
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: $to-medium) {
            margin-bottom: 24px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__main {
        width: calc(52% - 12px);
        display: flex;
        flex-direction: column;

        @media (max-width: $to-medium) {
            width: 100%;
            margin-bottom: 24px;
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        display: flex;

        .ico {
            margin-right: 15px;
        }

        p {
            width: calc(100% - 47px);

            &:first-child {
                width: calc(100%);
            }
        }
    }

    &__cost {
        margin-top: 40px;
        color: var(--green);
    }

    &__imageWrapper {
        width: calc(48% - 12px);
        border-radius: 16px;
        overflow: hidden;

        picture {
            height: 100%;
        }

        @media (max-width: $to-medium) {
            width: 100%;
            height: 280px;

            img {
                object-fit: cover
            }
        }
    }

    &__desc {

    }

    &__btn {
        margin-top: 40px;
        z-index: 1;
        position: relative;
    }
}

.cardProductPreview {
    border: 1px solid var(--grey);
    border-radius: 16px;
    width: calc(100% + 1px);
    position: relative;

    &.disabled {
        border-color: var(--green);
    }


    &__imageWrapper {
        margin: -1px -1px 0;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        overflow: hidden;

        img {
            max-height: 140px;
            min-height: 140px;

            @media (max-width: $to-medium) {
                max-height: 100px;
                min-height: 100px;
            }

            @media (max-width: $to-small) {
                max-height: 80px;
                min-height: 80px;
            }
        }
    }

    &__desc {
        padding: 20px 24px 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__name {

    }

    &__link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

