.cardPerson {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__imageWrapper {
        border-radius: 16px;
        overflow: hidden;
        min-height: 160px;
        width: calc(40% - 8px);

        picture {
            height: 100%;
        }
    }

    &__mapWrapper {
        position: relative;
        width: calc(40% - 8px);

        @media (max-width: $to-small) {
            width: 100%;
        }

        map-component,
        ya-map {
            @media (min-width: $from-small) {
                padding-bottom: 150%;
            }
        }
    }

    &__desc {
        width: calc(60% - 8px);

        @media (max-width: $to-small) {
            margin-bottom: 32px;
        }

    }

    &__title {
        margin-bottom: 10px;

        a.interlinear {
            color: var(--default);

            &:hover {
                color: var(--green);
            }
        }
    }

    &__text {
        color: var(--lightBlack);
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__links {

        a {
            position: relative;
            margin-bottom: 12px;
        }
    }

    &__link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.cardPerson_big {
    padding: 40px 30px;
    background: var(--white);
    border-radius: 16px;

    @media (max-width: $to-medium) {
        padding: 30px 24px;
    }

    @media (max-width: $to-small) {
        padding: 24px 16px;
        flex-wrap: wrap;
    }

    .cardPerson__imageWrapper {
        @media (max-width: $to-small) {
            width: calc(100%);
            margin-bottom: 24px;
        }
    }


    .cardPerson__desc {

        @media (max-width: $to-small) {
            width: 100%;
        }

        .item {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .cardPerson__links {
        margin-top: 30px;

        @media (max-width: $to-small) {
            margin-top: 18px;
        }

        a {
            margin-bottom: 10px;
        }
    }
}


.cardPerson_small {
    padding: 40px 30px;
    background: var(--white);
    border-radius: 16px;

    @media (max-width: $to-medium) {
        padding: 30px 24px;
    }

    @media (max-width: $to-small) {
        padding: 24px 16px;
        flex-wrap: wrap;
    }

    .cardPerson__imageWrapper {
        width: calc(30% - 8px);

        @media (max-width: $to-small) {
            width: calc(100%);
            margin-bottom: 24px;
        }
    }

    .cardPerson__desc {
        width: calc(70% - 8px);

        @media (max-width: $to-small) {
            width: 100%;
        }

        .item {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .cardPerson__links {
        margin-top: 30px;

        @media (max-width: $to-small) {
            margin-top: 18px;
        }

        a {
            margin-bottom: 10px;
        }
    }
}
