.desc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__content {
        overflow: hidden;

        @media (max-width: $to-medium) {
            width: 100% !important;
            margin-bottom: 32px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.reg {
            width: 62.5%;
            max-width: 880px;
        }

        &.big {
            width: 72%;
            max-width: 930px;

            p {
                max-width: 100%;
            }
        }

        &.content {
            width: calc(48% - 30px);
        }

        .btn {
            margin-bottom: 100px;

            @media (max-width: $to-medium) {
                margin-bottom: rem(100px);
            }

            @media (max-width: $to-small) {
                margin-bottom: rem(60px);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }


        .features {
            margin: 40px 0;

            @media (max-width: $to-medium) {
                margin: rem(30px) 0;
            }
        }

        h3 {
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            line-height: 1.5em;
            max-width: 670px;
            margin-top: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            @media (max-width: $to-medium) {
                font-size: 16px;
            }
        }

        & > * {

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: var(--green);

            &:hover {
                color: var(--darkGreen);
            }
        }
    }

    &__title {
        margin-bottom: 32px;
    }

    &__aside {

        @media (max-width: $to-medium) {
            width: 100% !important;
        }

        &.contacts {
            width: 30%;
            max-width: 340px;
            color: var(--default);
        }

        &.slider-aside {
            width: calc(52% - 30px);

            .slider-sticky {
                position: sticky;
                top: 120px;
            }

            .slider {
                overflow: hidden;
            }
        }
    }
}

.info {
    padding: 40px 30px;
    background: var(--white);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        margin-bottom: 30px;

        @media (max-width: $to-medium) {
            margin-bottom: 20px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: rem(40px);

        @media (max-width: $to-medium) {
            margin-bottom: rem(30px);
        }

        &:last-child {
            margin-bottom: 0;
        }

        a {
            margin-bottom: 15px;

            @media (max-width: $to-medium) {
                margin-bottom: 10px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            .ico {
                width: 33px;

                & + p {
                    width: calc(100% - 48px);
                }
            }

        }
    }
}

address.info__links {
    a {
        margin-bottom: 30px;

        @media (max-width: $to-medium) {
            margin-bottom: rem(20px);
        }

        @media (max-width: $to-small) {
            margin-bottom: rem(16px);
        }
    }
}
