.features {
    display: grid;
    grid-template-columns: calc(52% - 12px) calc(48% - 12px);
    grid-gap: 30px 24px;

    @media (max-width: $to-small) {
        grid-template-columns: calc(100%);
        grid-gap: 16px 0;
    }
}

.featur {
    p {
        font-size: 16px;
    }
}
