.ico-1,
.ico-2 {
  path {
    opacity: 0;
    transition: opacity .35s ease;
  }

  circle {
    opacity: 0;
    transform: scale(.95);
    transition: opacity .35s ease, transform .4s var(--easeOutQuad);
  }
}

.ico-3 {
  .people {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity .35s ease, transform .4s var(--easeOutQuad);
  }
}


.scroll-icon.is-show {

  .ico-1 {
    path {
      opacity: 1;

      &:nth-child(1) {
        transition-delay: .15s;
      }

      &:nth-child(2) {
        transition-delay: .2s;
      }

      &:nth-child(3) {
        transition-delay: .25s;
      }

      &:nth-child(4) {
        transition-delay: .3s;
      }
    }

    circle {
      opacity: 1;
      transition-delay: .4s;
    }
  }

  .ico-2 {
    path {
      opacity: 1;

      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          transition-delay: #{$i * .135}s;
        }
      }

    }

    circle {
      opacity: 1;
      transform: scale(1);

      &:nth-of-type(1) {
        transition-delay: .35s;
      }

      &:nth-of-type(2) {
        transition-delay: .4s;
      }

      &:nth-of-type(3) {
        transition-delay: .45s;
      }
    }
  }

  .ico-3 {
    .people {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
