popup-component(data-id="menu-popup").popup-menu
    .popup__inner
        .popup__wrapper
            .popup__overflow
                .popup__menu
                    .popup-content.wrapper
                        a.navigation__backWrapper.js-nav-back
                            .navigation__arrow
                            .navigation__backText Меню


                        button.popup__button.popup__close(is="popup-close")
                        .navigation__container
                            .navigation__childWrapper.js-nav-child(data-nav-child="cover-about")
                                .navigation__nameWrapper
                                    a.navigation__name О компании
                                    .navigation__arrow
                                .navigation__list
                                    .navigation__head О компании
                                    a.navigation__link(href="#1") Миссия
                                    a.navigation__link(href="#1") Структура
                                    a.navigation__link(href="#1") История
                                    a.navigation__link(href="#1") География
                                    a.navigation__link(href="#1") Технологии
                                    a.navigation__link(href="#1") Документы
                            .navigation__childWrapper.js-nav-child(data-nav-child="cover-cooperation")
                                .navigation__nameWrapper
                                    a.navigation__name Сотрудничество
                                    .navigation__arrow
                                .navigation__list
                                    .navigation__head Сотрудничество
                                    a.navigation__link(href="#1") Закупки
                                    a.navigation__link(href="#1") Продажа с/х продукции
                                    a.navigation__link(href="#1") Реализация непрофильных активов
                                    a.navigation__link(href="#1") Закупка с/х продукции
                                    a.navigation__link(href="#1") Прочие продажи
                            .navigation__childWrapper.js-nav-child(data-nav-child="cover-activity")
                                .navigation__nameWrapper
                                    a.navigation__name Деятельность
                                    .navigation__arrow
                                .navigation__list
                                    .navigation__head Деятельность
                                    a.navigation__link(href="#1") Закупки
                            .navigation__childWrapper.js-nav-child(data-nav-child="cover-career")
                                .navigation__nameWrapper
                                    a.navigation__name Карьера
                                    .navigation__arrow
                                .navigation__list
                                    .navigation__head Карьера
                                    a.navigation__link(href="#3") Вакансии
                                    a.navigation__link(href="#3") Студентам и выпускникам
                                    a.navigation__link(href="#3") Поддержка молодых специалистов
                                    a.navigation__link(href="#3") Обучение
                                    a.navigation__link(href="#3") Истории успеха
                            .navigation__childWrapper.js-nav-child(data-nav-child="cover-care")
                                .navigation__nameWrapper
                                    a.navigation__name Ответственность
                                    .navigation__arrow
                                .navigation__list
                                    .navigation__head Ответственность
                                    a.navigation__link(href="#4") Социальная ответственность
                                    a.navigation__link(href="#4") Забота о сотрудниках
                                    a.navigation__link(href="#4") Охрана труда
                                    a.navigation__link(href="#4") Безопасность производства
                            .navigation__childWrapper.js-nav-child(data-nav-child="cover-news")
                                .navigation__nameWrapper
                                    a.navigation__name Пресс-центр
                                    .navigation__arrow
                                .navigation__list
                                    .navigation__head Пресс-центр
                                    a.navigation__link(href="#4") Новости
                                    a.navigation__link(href="#4") Фотогалерея
                                    a.navigation__link(href="#4") Доска достижений
                                    a.navigation__link(href="#4") Пресса о нас
                        button.button.button_theme-green.button_size_default.navigation_button(is="popup-toggle" data-id="popup-form_call")
                            .button__text Связаться