popup-component(data-id="popup-dropdown").popup-dropdown
    .popup__inner
        .popup__wrapper
            .popup__overflow
                button.popup__button.popup__close(is="popup-close")
                .popup-content
                    .wrapper
                        .popup-dropdown__wrapper
                            .popup-dropdown__titleWrapper
                                div.popup-dropdown__title.dd-t-fake.h2 Что вы хотите узнать?
                            .popup-dropdown__descWrapper
                                button.popup-dropdown__item(is="popup-toggle" data-id="popup-make") Как написать в пресс-центр?
                                button.popup-dropdown__item(is="popup-toggle" data-id="popup-form_call") Как задать вам вопрос?
                                button.popup-dropdown__item(is="popup-toggle" data-id="popup-work") Как устроиться на работу?
                                button.popup-dropdown__item(is="popup-toggle" data-id="popup-bid") Как купить с/х продукцию?
                                button.popup-dropdown__item(is="popup-toggle" data-id="popup-other_asset") Как купить другие активы?
                                button.popup-dropdown__item(is="popup-toggle" data-id="popup-incident") Как обратиться на горячую линию?