popup-component.popup(data-id="popup-tenders")
    .overflow
        .popup-content
            .popup-inner.wide
                button.button-close.ico-close(is="popup-close")
                .wrapper
                    .popup__desc
                        h2 Документы для одноэтапного тендера

                    .docs
                        .container.col-2.mb_40
                            a.link.link-doc
                                svg.ico(width="28" height="31" fill="none")
                                    path(d="M4.5 5A1.5 1.5 0 016 3.5h11.125L23.5 9.946V27a1.5 1.5 0 01-1.5 1.5H6A1.5 1.5 0 014.5 27V5z" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                                .link__text
                                    .p Порядок подачи систем менеджмента
                                    .p_s.inffile (PDF, 17,4 Mb)
                            a.link.link-doc
                                svg.ico(width="28" height="31" fill="none")
                                    path(d="M4.5 5A1.5 1.5 0 016 3.5h11.125L23.5 9.946V27a1.5 1.5 0 01-1.5 1.5H6A1.5 1.5 0 014.5 27V5z" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                                .link__text
                                    .p Порядок подачи систем менеджмента
                                    .p_s.inffile (PDF, 17,4 Mb)
                            a.link.link-doc
                                svg.ico(width="28" height="31" fill="none")
                                    path(d="M4.5 5A1.5 1.5 0 016 3.5h11.125L23.5 9.946V27a1.5 1.5 0 01-1.5 1.5H6A1.5 1.5 0 014.5 27V5z" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                                .link__text
                                    .p Порядок подачи систем менеджмента
                                    .p_s.inffile (PDF, 17,4 Mb)
                            a.link.link-doc
                                svg.ico(width="28" height="31" fill="none")
                                    path(d="M4.5 5A1.5 1.5 0 016 3.5h11.125L23.5 9.946V27a1.5 1.5 0 01-1.5 1.5H6A1.5 1.5 0 014.5 27V5z" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                                .link__text
                                    .p Порядок подачи систем менеджмента
                                    .p_s.inffile (PDF, 17,4 Mb)

                        a.lk.lk_g
                            svg.ico(width="16" height="22" fill="none")
                                path(d="M13.727 10.5L8 16.2m0 0l-5.727-5.7M8 16.2V1M1 21h14" stroke="#4E8925" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            .p Скачать все
