popup-component(data-id="popup-form_call")
    .popup__inner
        .popup__wrapper
            .popup__overflow
                button.popup__button.popup__close(is="popup-close")
                .popup__form
                    .popup-content
                        .h2.popup__title Задать вопрос
                        .popup__subtitle Подробно опишите, что Вас интересует
                        .form-wrapper.margin-top_60
                            form-response.response(data-id="form-call")
                                .response-inner
                            form.form(action="./response.json" data-id="form-call" method="post" is="form-component")
                                .form__group
                                    .form__line_half
                                        .form__line
                                            label.input-wrapper(is="input-wrapper" data-validate="blur")
                                                span.placeholder ФИО
                                                input.input.input_lightGreen(name="userName" type="name" required)
                                        .form__line
                                            label.input-wrapper(is="input-wrapper")
                                                span.placeholder Организация
                                                input.input.input_lightGreen(name="userOrganization" type="text" required)
                                        .form__line
                                            label.input-wrapper(is="input-wrapper" data-validate="blur")
                                                span.placeholder Электронная почта
                                                input.input.input_lightGreen(name="userEmail" type="email" required)
                                        .form__line
                                            label.input-wrapper(is="input-wrapper" data-validate="blur")
                                                span.placeholder Телефон
                                                input.input.input_lightGreen(name="userTel" type="tel" required)
                                        .form__line
                                            label.input-wrapper(is="input-wrapper")
                                                span.placeholder Сообщение
                                                textarea.input.input_lightGreen(name="userMessage")
                                    .form__line_half.form__line_half-right
                                        .form__line
                                            +inputFile(false)
                                        .form__line
                                            .form__groupMini
                                                .form-groupMini__title Что вас интересует?
                                                label.input-wrapper.input-wrapper_checkbox(is="input-wrapper")
                                                    input.input(name="userEmail" type="checkbox")
                                                    span.placeholder.placeholder_checkbox Участие в тендерах и закупках
                                                label.input-wrapper.input-wrapper_checkbox(is="input-wrapper")
                                                    input.input(name="userEmail" type="checkbox")
                                                    span.placeholder.placeholder_checkbox Покупка с/х продукции
                                                label.input-wrapper.input-wrapper_checkbox(is="input-wrapper")
                                                    input.input(name="userEmail" checked type="checkbox")
                                                    span.placeholder.placeholder_checkbox Покупка непрофильных активов
                                                label.input-wrapper.input-wrapper_checkbox(is="input-wrapper")
                                                    input.input(name="userEmail" checked type="checkbox")
                                                    span.placeholder.placeholder_checkbox Покупка техники
                                                label.input-wrapper.input-wrapper_checkbox(is="input-wrapper")
                                                    input.input(name="userEmail" checked type="checkbox")
                                                    span.placeholder.placeholder_checkbox Прочие продажи
                                        .form__line.form__line-last
                                            .agree
                                                label.input-wrapper.input-wrapper_checkbox(is="input-wrapper")
                                                    input.input(name="userAccept" type="checkbox" required)
                                                    span.placeholder.placeholder_checkbox Я согласен с <a class="link_green">политикой</a> обработки данных
                                            button.button.button_size_default.button_theme-darkGreen.form__button
                                                .button__text Отправить
