.filter-tabs
    a.filter.filter-tab.caps_2(is="filter-link" data-tab=['auto'] data-container="replaceable-catalog" href="?filter[tab]=sell_mech_now_switcher-bu.html") с/х техника
    a.filter.filter-tab.caps_2(is="filter-link" data-tab=['auto'] data-container="replaceable-catalog" href="?filter[tab]=transport_equipment.html") транспортная техника
    a.filter.filter-tab.caps_2(is="filter-link" data-tab=['auto'] data-container="replaceable-catalog" href="?filter[tab]=special_equipment.html") спецтехника
    a.filter.filter-tab.caps_2(is="filter-link" data-tab=['auto'] data-container="replaceable-catalog" href="?filter[tab]=elevator_equipment.html") элеваторное оборудование
