
.search {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;

    .ico {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .input {
        padding: 0 48px 0 16px;

        &::placeholder {
            font-weight: normal;
            font-size: 16px;
            line-height: 1.375em;
            margin-bottom: 30px;
            color: var(--green11);
        }
    }
}
