.ico-close {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 1  ;

    &.s {
        width: 14px;
        height: 14px;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: var(--green);
    }

    &:before {
        width: 2px;
        height: 100%;
        transition: all .7s cubic-bezier(.77, 0, .175, 1) .1s;
    }

    &:after {
        width: 100%;
        height: 2px;
        transition: all .7s cubic-bezier(.77, 0, .175, 1) 0s;
    }

    &:hover {
        &:before,
        &:after {
            transform: translateZ(0) rotate(-90deg);
        }
    }
}


.ico-plus {
    width: 26px;
    height: 26px;
    position: relative;
    margin-left: 20px;


    &.s {
        width: 10px;
        height: 10px;
    }

    @media (max-width: $to-medium) {
        width: 20px;
        height: 20px;
    }

    @media (max-width: $to-small) {
        width: 16px;
        height: 16px;
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background: var(--green);
        border-radius: 16px;
    }

    &:before {
        width: 2px;
        height: 100%;
    }

    &:after {
        width: 100%;
        height: 2px;
    }
}
