.maps {

    &__desc {
        width: calc(55% - 2%);
        flex-basis: calc(55% - 2%);
        margin: 0 3% 0 0;
        z-index: 1;

        @media screen and (max-width: 860px) {
            width: calc(70%);
            flex-basis: calc(70%);
            margin: 0;
        }

        @media screen and (max-width: $to-small) {
            width: calc(100%);
            flex-basis: calc(100%);
        }
    }

    &__text {
        font-size: 24px;
        letter-spacing: -0.02em;
        margin: 0 0 40px;
        line-height: 1.65em;
        max-width: 570px;

        @media screen and (max-width: $to-medium) {
            font-size: 18px;
            margin: 0 0 16px;
        }

    }

    &__buttons {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(40% - 24px);

        @media (max-width: $to-medium) {
            width: calc(100%);
            margin-bottom: 0;
        }

        .btn {
            padding: 16px 30px;
            border-radius: 8px;
            margin-bottom: 16px;
            max-width: 336px;
            width: 100%;
            text-align: left;
            color: var(--default);

            &:last-child {
                margin-bottom: 0;
            }

            @media (max-width: $to-small) {
                max-width: 100%;
            }
        }

        &.is-desktop {
            @media (max-width: $to-medium) {
                display: none;
            }
        }
    }

    &__dd {
        position: relative;
        width: 100%;
        z-index: 1;
        margin-bottom: 24px;

        @media (min-width: $from-medium) {
            display: none;
        }

        .dd-wrapper {
            position: absolute;
            top: rem(25px);
        }

        .dd-inner {
            padding: rem(25px) rem(20px) rem(30px);

            .maps__buttons {
                overflow: auto;
                max-height: 300px;
            }
        }
    }

    &__content {
        width: calc(60% - 48px);

        @media (max-width: $to-medium) {
            width: calc(100%);
        }

        &.index {
            width: calc(45% - 24px);

            @media (max-width: $to-medium) {
                width: calc(100%);
                margin-top: 24px;
            }

            .maps__imageWrapper {
                width: calc(100%);
            }
        }
    }

    &__imageWrapper {
        width: calc(94%);
        margin: 0 auto;
        //margin: 0 0 0 -8%;
        min-height: 332px;

        &.is-show {

            .maps__svg {


                path {
                    opacity: 1;
                    transition-duration: .7s;
                    transform: translateY(0);
                    transition-timing-function: cubic-bezier(.2, 1, .4, 1);

                    @for $i from 1 through 15 {
                        &:nth-of-type(#{$i}) {
                            transition-delay: .2 + $i / 10  + s;
                        }
                    }
                }

                g[data-region] {
                    cursor: pointer;
                    opacity: 1;
                    transition-duration: .7s;
                    transform: translateY(0);
                    transition-timing-function: cubic-bezier(.2, 1, .4, 1);

                    @for $i from 1 through 10 {
                        &:nth-of-type(#{$i}) {
                            transition-delay: .55 + $i / 10  + s;
                        }
                    }
                }

                g:not([data-region]) {
                    cursor: pointer;
                    opacity: 1;
                    transition-duration: .7s;
                    transform: translateY(0);
                    transition-timing-function: cubic-bezier(.2, 1, .4, 1);

                    @for $i from 1 through 10 {
                        &:nth-of-type(#{$i}) {
                            transition-delay: .2 + $i / 10  + s;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: $to-medium) {
            width: calc(100%);
            margin: 0 0 24px 0;
        }

        @media screen and (max-width: 860px) {
            width: calc(100%);
            flex-basis: calc(100%);
            min-height: auto;
        }
    }

    &__svg {
        overflow: visible;
        width: 100%;
        height: 100%;

        &.contact {
            width: 100%;
            height: 100%;
        }

        path {
            opacity: 0;
            transform: translateY(-50px);
        }

        g {
            opacity: 0;
            transform: translateY(-25px);
        }
    }

    &__image {
        display: flex;
        justify-content: center;
    }

    &__list {
        width: calc(100%);
    }
}


.maps_history {
    display: flex;
    justify-content: center;


    svg {

        @media (max-width: $to-medium) {
            width: 100%;
            height: 100%;
        }

    }


    &.active-1 path {

        &:nth-child(11) {
            fill: #73D49C;
            stroke: #73D49C;
        }

        &:nth-child(12) {
            fill: #CE99CE;
            stroke: #CE99CE;
        }
    }

    &.active-2 path {
        &:nth-child(7) {
            fill: #A9E0FF;
            stroke: #A9E0FF;
        }
    }

    &.active-3 path {
        &:nth-child(1) {
            fill: #F59596;
            stroke: #F59596;
        }

        &:nth-child(6) {
            fill: #99A8DB;
            stroke: #99A8DB;
        }

        &:nth-child(8) {
            fill: #F4A950;
            stroke: #F4A950;
        }

        &:nth-child(7) {
            fill: #A9E0FF;
            stroke: #A9E0FF;
        }

        &:nth-child(9) {
            fill: #C4DA62;
            stroke: #C4DA62;
        }

        &:nth-child(10) {
            fill: #EAD74D;
            stroke: #EAD74D;
        }
    }

    path {
        transition: fill .35s var(--ease), stroke .35s var(--ease);
    }


}

.maps-geography {
    position: relative;
    display: flex;
    flex-direction: column;

    svg g {
        cursor: pointer;
    }
}

.maps-geography__popups {

}

.cardMap-popup {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translateY(-25px);
    pointer-events: none;
    transition: opacity .35s var(--ease);

    &__wr {
        position: relative;
        border: none !important;
        background-color: var(--white);
        box-shadow: 0 8px 24px rgba(78, 137, 37, 0.12);
    }

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    .cardMap__title {
        width: calc(100% - 48px);
    }
}
