popup-component {
    //position: fixed;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    //z-index: 50;
    //transform: translateZ(0px);
    //overflow: hidden;
    //opacity: 0;
    //pointer-events: none;
    //transition: opacity .5s linear 0s, transform .5s ease 0s, bottom 0s ease .5s;
    //
    //&:before {
    //    position: absolute;
    //    content: '';
    //    top: 0;
    //    left: 0;
    //    width: 100%;
    //    height: 100%;
    //    background: rgba(9, 7, 6, .4);
    //}
}

popup-component.active {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
    transition: opacity .5s linear 0s, transform .5s ease 0s, bottom 0s ease 0s;
}

.popup {

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    &__wrapper {
        display: block;
        max-width: 960px;
        height: 100%;
        position: relative;
        margin: 0 auto;

        &_small {
            max-width: 570px;
        }
    }

    &__overflow {
        background: var(--white);
        border-radius: 4px;
        position: relative;
    }

    &-content {
        padding: rem(60px) rem(110px) rem(80px);

        @media screen and (max-width: $to-medium) {
            padding: rem(40px) rem(80px) rem(60px);
        }

        @media screen and (max-width: $to-small) {
            padding: rem(20px) rem(20px) rem(40px);
        }
    }

    &__close {
        position: absolute;
        right: rem(20px);
        top: rem(20px);
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        cursor: pointer;
        z-index: 2;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background: var(--green);
        }

        &:before {
            width: 2px;
            height: 100%;
            transition: all .7s cubic-bezier(.77, 0, .175, 1) .1s;
        }

        &:after {
            width: 100%;
            height: 2px;
            transition: all .7s cubic-bezier(.77, 0, .175, 1) 0s;
        }

        &:hover {
            &:before,
            &:after {
                transform: translateZ(0) rotate(-90deg);
            }
        }
    }


    &__title {
        margin: 0 0 16px 0;
        line-height: 1em;
    }

    &__subtitle {
        font-size: 20px;
        font-family: "TT-Norms", sans-serif;
        font-weight: 500;
    }

    &__text {
        width: 80%;
        letter-spacing: -.02em;

        @media (max-width: $to-medium) {
            width: 100%;
        }
    }

    &__form {
        margin: rem(80px) auto;

        @media screen and (max-width: $to-small) {
            margin: rem(40px) 0;
        }
    }

    //modificator

    &-dropdown {

        &:before {
            content: none;
        }

        .popup__overflow {
            background: #EDF1E8;
            height: 100%;
        }

        .popup__wrapper {
            max-width: 100%;
        }

        .popup-content {
            position: relative;
            height: 100%;
            padding: rem(80px) 0;
        }

        .popup__close {
            @media (min-width: 801px) {
                top: calc(50% - 20px / 2);
                bottom: 0;
                right: calc(10.75% + 20px);
                z-index: 2;

                &:before,
                &:after {
                    background: var(--darkGreen);
                }
            }
        }

        &__wrapper {
            display: flex;
            align-items: center;
            height: 100%;

            @media screen and (max-width: 800px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__titleWrapper {
            color: var(--darkGreen);
        }

        &__title {

            @media screen and (max-width: 800px) {
                font-size: 28px;
                margin-bottom: 40px;
            }
        }

        &__descWrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: calc(35%);
            margin: 0 auto;
            max-height: 550px;
            overflow-y: scroll;

            @media screen and (max-width: $to-medium) {
                width: calc(50%);
            }

            @media screen and (max-width: 800px) {
                width: calc(100%);
            }
        }

        &__item {
            font-family: "TT-Norms";
            font-weight: normal;
            font-size: 24px;
            line-height: 1.65em;
            color: var(--darkGreen);
            margin: 0 0 62px 0;
            text-align: left;

            @media screen and (max-width: $to-medium) {
                margin: 0 0 48px 0;
            }

            @media screen and (max-width: 800px) {
                margin: 0 0 20px 0;
            }

            &.is-active {
                color: var(--green);
            }

            &:hover {
                color: var(--green);
            }

            &:last-child {
                margin: 0;
            }
        }

    }

    &-menu {
        height: calc(100% - 108px);
        margin-top: calc(108px);

        @media screen and (max-width: 1042px) {
            height: 100%;
            margin-top: inherit;
        }

        .popup__close {
            z-index: 3;
            right: 0;
            @media screen and (min-width: 1043px) {
                display: none;
            }
        }

        .popup__wrapper {
            max-width: 100%;
        }

        .popup__overflow {
            border-radius: 0;

            @media screen and (max-width: 1042px) {
                height: 100%;
            }
        }

        .popup-content {
            padding: 0 0 0 calc(132px);

            @media screen and (max-width: $to-large) {
                padding: 0 0 0 calc(112px);
            }

            @media screen and (max-width: 1042px) {
                padding: 0;
            }

        }
    }

    &-bid {

        .popup__wrapper {
            max-width: 1280px;
        }

        .popup-content {
            padding: rem(60px) rem(80px) rem(80px);

            @media screen and (max-width: $to-medium) {
                padding: rem(40px) rem(80px) rem(60px);
            }

            @media screen and (max-width: $to-small) {
                padding: rem(20px) rem(20px) rem(40px);
            }
        }

    }
}
