.main-video {
  margin-top: 12px;
  margin-bottom: 16px;

  &__container {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
  }

  video {
    width: 100%;
    height: 480px;
    object-fit: cover;
    object-position: center;
    @media screen and (min-width: $from-gigantic + 1) {
      height: 620px;
    }

    @media (min-width: $from-medium) and (max-width: 1376px) {
      height: 420px;
    }

    @media screen and (max-width: $to-medium) {
      height: 400px;
    }

    @media screen and (max-width: $to-small) {
      height: 280px;
    }

  }
}
