.yt-wr {
    display: block;
    position: relative;
    margin: rem(120px) 0 rem(60px);

    @media screen and (max-width: $to-medium) {
        margin: rem(100px) 0 rem(40px);
    }

    @media screen and (max-width: $to-small) {
        margin: rem(60px) 0 rem(30px);
    }

    &.active {
        .yt-button {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.yt-button {
    width: 12%;
    height: calc(12% *  1.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;


    &:before,
    &:after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &:before {
        border: 1px solid #fff;
        border-radius: 50%;
        transition: transform 0.3s var(--bounce);
    }

    &:after {
        background: url("../images/play.svg") no-repeat center / 100%;
        width: 20px;
        height: 36px;
        margin: auto;


        @media (max-width: $to-small) {
            width: 10px;
            height: 22px;
        }

    }

    &:hover {
        &:before {
            transform: translate3d(0, 0, 0) scale(1.05);
        }
    }
}

.yt-outer {
    position: relative;
    padding-bottom: calc(100% / 1.8);
    border-radius: 16px;
    overflow: hidden;
}

.yt-preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;

    &:before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: var(--default);
        opacity: 0.4;
    }
}

.yt-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    iframe {
        object-position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.yt-caption {
    margin-top: 16px;
    color: var(--lightBlack);
}

.video-wr {
    display: block;
    position: relative;
    margin: rem(120px) 0 rem(60px);

    @media screen and (max-width: $to-medium) {
        margin: rem(100px) 0 rem(40px);
    }

    @media screen and (max-width: $to-small) {
        margin: rem(60px) 0 rem(30px);
    }
}

.video-outer {
    position: relative;
    padding-bottom: calc(100% / 1.8);
    border-radius: 16px;
    overflow: hidden;
}

.video-in {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100%);
    height: 100%;
}
