extends ../base

block vars
    - var page = 'links';

block main-content
    section.artcl
        .wrapper
            div
                a.h3(href="index.html") Главная
                br
                h3 Сотрудничество
                ul
                    li
                        a(href="cooperation.html ") Сотрудничество
                    li
                        a(href="cooperation-text.html") Продажа с/х продукции
                    li
                        a(href="sell-buckwheat.html") Продажа пшеницы
                    li
                        a(href="sell.html") Продажа гречихи
                    li
                        a(href="crops_3_level.html") Страница продукта
                    li
                        a(href="sell_mech_now_switcher-bu.html") Прочие продажи (Б/У)
                    li
                        a(href="sell_mech_now_switcher-new.html") Прочие продажи новой техники

                    li
                        a(href="non-profile.html") Непрофильные активы

                    li
                        a(href="tenders_1_level.html") Закупки
                    li
                        a(href="security_form_2_level.html") Подача заявки в службу безопасности
                    li
                        a(href="tender_2_level.html") Страница закупки
                    li
                        a(href="buy_crops_1_level.html") Закупка с/х продукции

                h3 Карьера
                ul
                    li
                        a(href="career.html") Карьера
                    li
                        a(href="jobs_1_level.html") Вакансии

                h3 О компании
                ul
                    li
                        a(href="about.html") О компании
                    li
                        a(href="structure_1_level.html") Структура компании
                    li
                        a(href="details_2_level_2_4.html") Страница компании

                    li
                        a(href="geography_0_1_level.html") География работы (на карте)
                    li
                        a(href="geography_3_1_level.html") География работы (списком)

                    li
                        a(href="history.html") История



                h3 Деятельность
                ul
                    li
                        a(href="activities.html") Деятельность
                    li
                        a(href="growing.html") Растениеводство
                    li
                        a(href="vegetable-growing.html") Овощеводство
                    li
                        a(href="gardening.html") садоводство
                    li
                        a(href="animal-husbandry.html") животноводство
                    li
                        a(href="cultures-crops_1_level.html") Страница культуры

                h3 Пресс-центр
                ul
                    li
                        a(href="press-center.html") Пресс-центр
                    li
                        a(href="news.html") Новости
                    li
                        a(href="piece-of-news_2_level.html") Страница новости
                    li
                        a(href="photo-gallery_1_level.html") Фотогалерея
                    li
                        a(href="photoset_2_level_2.html") Страница фото
                    li
                        a(href="success_1_level.html") Доска достижений

                h3 Ответственность
                ul
                    li
                        a(href="responsibility.html") Ответственность
                br
                a.h3(href="text.html") Типовая текстовая
                br
                a.h3(href="contacts.html") Контакты
