.form-wrapper {
    position: relative;
}

.form-wrapper .response {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    pointer-events: none;
    opacity: 0;
    transform: translateY(50px);
    transition-property: opacity, transform;
    transition-duration: 0.6s, 0.6s;
    transition-timing-function: var(--ease-in), ease;
}

.form-wrapper .response.active {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.6s, 0.6s;
    transition-timing-function: var(--ease-out), ease;
    // pointer-events: auto;
}

.form-wrapper form {
    transition-property: opacity, transform;
    transition-duration: 0.6s, 0.6s;
    transition-delay: 0.6s, 0.6s;
    transition-timing-function: var(--ease-out), ease;
}

.form-wrapper form.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0s, 0s;
    transition-timing-function: var(--ease-in), ease;
    pointer-events: none;
    z-index: 0;
}

.form__line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 20px 0;
    position: relative;

    &:last-child {
        margin: 0;

        @media screen and (max-width: $to-medium) {
            margin: 0 0 20px 0;
        }
    }

    &-last {
        &:last-child {
            margin: auto 0 0 0;
        }
    }

    &_half {
        width: calc(50% - 40px);
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $to-medium) {
            width: calc(100%);
        }

        &-right {

            .form__line {

                &:first-child {
                    margin: 24px 0 40px 0;
                }

            }
        }
    }

    &_36 {
        margin: 0 0 36px 0;

        @media screen and (max-width: $to-medium) {
            margin: 0 0 20px 0;
        }
    }

    &_button-right {
        width: calc(33.33% - 30px);
        margin: 0 0 0 auto !important;

        @media screen and (max-width: $to-medium) {
            width: calc(50% - 25px);
        }

        @media screen and (max-width: $to-small) {
            width: calc(100%);
        }
    }


}

.form__group {
    display: flex;
    justify-content: space-between;

    &_fd {
        flex-direction: column;
    }

    @media screen and (max-width: $to-medium) {
        flex-wrap: wrap;
    }
}

.form-groupMini__title {
    font-family: "TT-Norms";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.form-group__radio {
    display: flex;
    flex-wrap: wrap;
}

.form__button {
    width: 100%;
    margin: auto 0 0 0;
}


.formRowMargin {
    &_24 {
        margin: 0 0 24px 0;
    }

    &_40 {
        margin: 0 0 40px 0;
    }

    &_50 {
        margin: 0 0 50px;
    }
}

.form-big {
    .ln {
    }

    .ln.double {
    }

    .ln.triple {
    }

    .btn-submit {
        width: calc(33% - 28.7px);

        @media (max-width: $to-medium) {
            width: calc(50% - 25px);
        }

        @media (max-width: $to-small) {
            width: calc(100%);
        }
    }

    fieldset {
        margin-bottom: rem(100px);

        @media screen and (max-width: $to-medium) {
            margin-bottom: rem(80px);
        }

        @media screen and (max-width: $to-small) {
            margin-bottom: rem(60px);
        }

        &:last-child {
            margin-bottom: 50px;
        }
    }
}

.form-reg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .col {
        width: calc(50% - 40px);
        display: flex;
        flex-direction: column;

        @media (max-width: $to-medium) {
            width: calc(100%);
            margin-bottom: 22px;
        }

        .ln-submit {
            margin-top: auto;

            @media (max-width: $to-medium) {
                margin-top: 22px;
            }
        }
    }

    .ln {
        width: 100%;
        margin-bottom: 22px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .ln-last {
        margin-top: auto;
    }

    .ln-submit {
        margin-top: 45px;
        //margin-top: auto;

        @media (max-width: $to-medium) {
            margin-top: 22px;
        }
    }

    .ln-submit.half {
        width: calc(50% - 40px);
        margin: 45px 0 0 auto;

        @media (max-width: $to-medium) {
            margin-top: 10px;
            width: 100%;
        }
    }
}

.ln {
    display: flex;
    flex-direction: column;
    width: 100%;
}

fieldset,
.fieldset {
    .caps_2 {
        margin-bottom: 20px;
        color: var(--default);
    }

    .h3_2 {
        margin-bottom: 10px;
    }
}

.radios {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 18px 24px;
    width: 100%;

    @media (max-width: $to-small) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.checkboxes {
    position: relative;

    label {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
