textarea {
    padding: 12px 16px !important;
    min-height: 155px;
    width: 100%;
    resize: none;
}

.input {
    background: transparent;
    width: 100%;
    height: 56px;
    border: none;
    font-size: 16px;
    line-height: 1.18em;
    display: block;
    padding: 0 16px;
    border-radius: 8px;

    &_file {
        opacity: 0;
        position: absolute;
        cursor: pointer;
    }

    &.lightgreen {
        border: 1px solid #B9CAAD;
        transition: border-color 300ms ease;
    }

    &_lightGreen {
        border-radius: 8px;
        border: 1px solid #B9CAAD;
        transition: border-color 300ms ease;
    }

    &[type="checkbox"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 22px;

        &:checked {
            & + .placeholder_checkbox {
                &:before {
                    background: var(--green);
                    border-color: var(--green);
                }

                &:after {
                    opacity: 1;
                }
            }
        }
    }

    &[type="radio"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        opacity: 0;
        pointer-events: none;


        &:checked {
            & + .placeholder_radio {
                &:before {
                    border-color: var(--green);
                }

                &:after {
                    opacity: 1;
                }
            }
        }
    }

    &_dd {
        display: none;
    }
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    &.green {
        border-radius: 8px;
        border: 1px solid #48AA03;
    }

    &.lightgreen {
        border-radius: 8px;
        border: 1px solid #B9CAAD;
    }

    &_green {
        border-radius: 8px;
        border: 1px solid #48AA03;
    }

    &_lightGreen {
        border-radius: 8px;
        border: 1px solid #B9CAAD;
    }

    &_file {
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px dashed #B9CAAD;

        .name-file__wrapper {
            padding: 0 18px;
            display: none;
            align-items: center;
            width: calc(100% - 30px);
            height: 100%;
        }

        .name-file__icon {
            margin: 0 8px 0 0;
            display: flex;
        }

        &.not-empty {
            justify-content: flex-start;

            .input__icon_file,
            .placeholder_file {
                opacity: 0;
                pointer-events: none;
                position: absolute;
            }

            .name-file__wrapper {
                display: flex;
            }

            .file__reset {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &_checkbox {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0 0 20px 0;
        height: 24px;
        overflow: visible;

        &.error {
            .placeholder_checkbox:before {
                border-color: var(--error);
            }
        }
    }

    &_radio {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0 0 20px 0;
        height: 24px;
        overflow: visible;
        width: calc(50% - 12px);
        flex-basis: calc(50% - 12px);
    }

    &_dd {
        cursor: pointer;
    }

    &.focus,
    &.not-empty {
        .placeholder_inside {
            opacity: 0;
            transform: translateX(10px);
            transition: opacity 300ms ease, transform 250ms ease;
        }

        .input_lightGreen {
            border-color: var(--green)
        }

    }

    &.error {
        .input {
            border-color: var(--error);
        }

    }

    &.error.checkbox span {
        &:before {
            border-color: var(--error);
        }
    }

    &[data-validate] {

        &:not(.input-wrapper_agree) {

            .placeholder {
                position: relative;
                padding-right: 8px;

                &:after {
                    position: absolute;
                    content: '*';
                    right: 0;
                    top: 0;
                    color: var(--green);
                }
            }

        }

    }

}


fieldset {
    border: none;

    .form-groupMini__title {
        position: relative;
        padding-right: 8px;

        &:after {
            position: absolute;
            content: '*';
            right: 0;
            top: 0;
            color: var(--green);
        }
    }
}

.input__icon {
    &_file {
        margin: 0 16px 0 0;
    }
}

.placeholder {
    font-size: 16px;
    line-height: 1.18em;
    margin: 0 0 5px 0;
    display: block;
    color: var(--lightBlack);

    &_inside {
        color: var(--default);
        position: absolute;
        width: calc(100% - 16px);
        left: 16px;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        margin: 0;

        opacity: 1;
        transform: translateX(0);
        transition: opacity 350ms ease-out, transform 300ms ease-out;
    }

    &_file {
        margin: 0;
        color: #4E8925;
    }

    &_checkbox {
        padding: 0 0 0 36px;
        margin: 0;
        color: var(--default);

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            width: 22px;
            height: 22px;
            border: 1px solid #B9CAAD;
            background: var(--white);
            border-radius: 3px;

            transition: background 300ms ease;
        }

        &:after {
            position: absolute;
            content: '';
            left: 6px;
            right: 0;
            top: 7px;
            bottom: 0;
            width: 12px;
            height: 9px;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.19141 5.44797L5.50391 10.2306L12.6914 1.76904' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            opacity: 0;

            transition: opacity 350ms ease;
        }

        a {
            font-size: inherit;
        }
    }

    &_radio {
        font-family: "TT-Norms";
        font-weight: normal;
        padding: 0 0 0 36px;
        margin: 0;
        color: var(--default);

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            width: 22px;
            height: 22px;
            border: 1px solid #B9CAAD;
            border-radius: 50%;

            transition: background 300ms ease;
        }

        &:after {
            position: absolute;
            content: '';
            left: 6px;
            right: 0;
            top: 6px;
            bottom: 0;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: var(--green);
            opacity: 0;

            transition: opacity 350ms ease;
        }
    }

    &_dd {
        color: var(--default);

        &:hover {
            color: var(--green);
        }
    }

    &_required,
    &.required {
        position: relative;
        padding-right: 8px;
        display: inline-block;

        &:after {
            position: absolute;
            content: '*';
            right: 0;
            top: 0;
            color: var(--green);
        }
    }
}

.file__reset {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
}

.agree {
    display: flex;
    flex-direction: column;
    width: calc(100%);
    margin: 0 0 20px 0;

    .input-wrapper_checkbox {
        margin: 0;
    }


    .placeholder_checkbox {
        font-size: 14px;

        &::before {
            top: -1px;
        }
    }
}

.errors {
    margin-top: 4px;

    .item {
        font-family: 'TT-Norms';
        font-size: 14px;
        font-weight: 500;
        color: var(--error);
        margin-top: 4px;

        &:first-child {
            margin-top: 0;
        }
    }

}

//new input style

input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    left: 1px;
    top: 1px;
}

input[type="radio"] {
    width: 22px;
    height: 22px;

    & ~ span {
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            width: 22px;
            height: 22px;
            border: 1px solid #B9CAAD;
            background: var(--white);
            border-radius: 50%;

            transition: background 300ms ease;
        }

        &:after {
            position: absolute;
            content: '';
            left: 6px;
            right: 0;
            top: 6px;
            bottom: 0;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: var(--green);
            opacity: 0;

            transition: opacity 350ms ease;
        }
    }

    &:checked {
        & + span {
            &:before {
                border-color: var(--green);
            }

            &:after {
                opacity: 1;
            }
        }
    }
}

input[type="checkbox"] {
    & ~ span {
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            width: 22px;
            height: 22px;
            border: 1px solid #B9CAAD;
            background: var(--white);
            border-radius: 3px;

            transition: background 300ms ease;
        }

        &:after {
            position: absolute;
            content: '';
            left: 6px;
            right: 0;
            top: 7px;
            bottom: 0;
            width: 12px;
            height: 9px;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.19141 5.44797L5.50391 10.2306L12.6914 1.76904' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            opacity: 0;

            transition: opacity 350ms ease;
        }

        a {
            font-size: inherit;
            color: var(--green);
        }
    }


    &:checked {
        & + span {
            &:before {
                background: var(--green);
                border-color: var(--green);
            }

            &:after {
                opacity: 1;
            }
        }
    }
}

.input-wrapper.radio,
.input-wrapper.checkbox {

    span {
        padding-left: 38px;
        position: relative;
    }

}
