.gr.col-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-gap: 100px 16px;
    align-items: flex-start;

    @media (max-width: $to-small) {
        grid-template-columns: calc(100%);
        grid-gap: 24px 0;
    }

    .full {
        @media (min-width: $from-small) {
            grid-column: span 2;
        }
    }
}

.gr-catalog.col-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-gap: 40px 16px;

    @media (max-width: $to-small) {
        grid-template-columns: calc(100%);
        grid-gap: 24px 0;
    }
}

.gr.col-5 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 13px));
    grid-gap: 40px 16px;

    @media (max-width: $to-medium) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (max-width: $to-small) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}


.container {
    position: relative;

    &.col-2 {
        display: grid;
        align-items: flex-end;
        grid-gap: 20px 55px;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        &.leaders {
            grid-gap: 40px 16px;
            align-items: flex-start;

            @media (max-width: $to-medium) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }

        &.crops {
            grid-gap: 16px;
        }

        &.contacts {
            grid-gap: 80px 16px;
            align-items: flex-start;
        }

        &.benefits {
            align-items: flex-start;
        }

        @media (max-width: $to-small) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

    &.col-3 {
        display: grid;
        align-items: flex-end;
        grid-gap: 40px 50px;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        &.s {
            grid-gap: 30px 40px;
        }

        &.prs {
            align-items: flex-start;
        }

        &.maps {
            grid-gap: 40px 16px;
            align-items: flex-start;

            .col {
                min-height: 195px;
                z-index: 1;

                @media (max-width: $to-medium) {
                    min-height: auto;
                }
            }

            @media (max-width: $to-medium) {
                grid-gap: 20px;
            }
        }

        &.photos {
            margin-top: 0;
            margin-bottom: 16px;
            grid-gap: 16px;
            align-items: flex-start;
        }

        @media (max-width: $to-medium) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (max-width: $to-small) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}

.container .col {
    width: 100%;
    height: 100%;
    position: relative;
}

