date-component {
    display: block;
    width: calc(33%);
    max-width: 336px;
    position: relative;
    margin-right: 60px;

    @media (max-width: $to-medium) {
        width: 50%;
    }

    @media (max-width: $to-small) {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    & ~ .filter-reset {
        margin-top: 27px;
    }


    .input {
        cursor: pointer;
    }

    .ico {
        position: absolute;
        right: 16px;
        bottom: 20px;
        pointer-events: none;
    }
}

.lightpick {
    position: absolute;
    z-index: 99999;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    color: #000;
    line-height: 1.125em;
    border-right: 1px solid var(--green11);
    border-left: 1px solid var(--green11);
    border-bottom: 1px solid var(--green11);
    border-radius: 0px 0px 8px 8px;
}

.lightpick--inlined {
    position: relative;
    display: inline-block;
}

.lightpick,
.lightpick *,
.lightpick::after,
.lightpick::before {
    box-sizing: border-box;
}

.lightpick.is-hidden {
    display: none;
}

.lightpick__months {
    display: grid;
    background-color: #FBFAF9;
    grid-template-columns: auto;
    grid-gap: 1px;
}

.lightpick--2-columns .lightpick__months {
    grid-template-columns: auto auto;
}

.lightpick--3-columns .lightpick__months {
    grid-template-columns: auto auto auto;
}

.lightpick--4-columns .lightpick__months {
    grid-template-columns: auto auto auto auto;
}

.lightpick--5-columns .lightpick__months {
    grid-template-columns: auto auto auto auto auto;
}

.lightpick__month {
    width: 334px;
    background-color: #FFF;
}

.lightpick__month-title-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: var(--lightGreen);
}

.lightpick__month-title {
    position: relative;
    margin:  0 auto;
    z-index: 1;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    cursor: default;
    padding: 0 4px;
    border-radius: 4px;
}

.lightpick__month-title > .lightpick__select {
    border: none;
    background-color: transparent;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.lightpick__month-title > .lightpick__select:disabled {
    color: #333;
}

.lightpick__select {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.375em;

    color: #4E8925;
    margin-right: 4px;

    &:last-child {
        margin-right: 0;
    }
}

.lightpick__toolbar {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    //display: flex;
    //text-align: right;
    //justify-content: flex-end;

    & > button svg {
        pointer-events: none;

        path  {
            transition: stroke .3s ease;
        }

    }

    & > button:hover {
        svg path {
            stroke: var(--green);
        }
    }

}

.lightpick__previous-action,
.lightpick__next-action,
.lightpick__close-action {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.lightpick__previous-action,
.lightpick__next-action {
    font-size: 12px;
}

.lightpick__close-action {
    font-size: 18px;
}

.lightpick__previous-action:active,
.lightpick__next-action:active,
.lightpick__close-action:active {
    color: inherit;
}

.lightpick__days-of-the-week {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.lightpick__day-of-the-week {
    font-family: "TT-Norms";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--green);
}

.lightpick__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.lightpick__day {
    position: relative;
    display: flex;
    height: 48px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.lightpick__day.is-today {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='rgba(220, 50, 47, .5)' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
    background-size: 18.8% auto;
    background-position: center bottom;
    color: #DC322F;
}

.lightpick__day:not(.is-disabled):hover {
    background-color: var(--green);
    color: var(--white);
    border-radius: 50%;
}

.lightpick__day.is-disabled {
    opacity: 0.38;
    pointer-events: none;
}

.lightpick__day.disabled-tooltip {
    pointer-events: auto;
}

.lightpick__day.is-disabled.is-forward-selected {
    opacity: 1;
}
.lightpick__day.is-disabled.is-forward-selected:not(.is-start-date) {
    background-color: rgba(38, 139, 210, 0.1);
    background-image: none;
}

.lightpick__day.is-previous-month,
.lightpick__day.is-next-month {
    opacity: 0.38;
}

.lightpick__day.lightpick__day.is-in-range:not(.is-disabled) {
    opacity: 1;
}

.lightpick__day.is-in-range {
    border-radius: 0;
    //background-color: rgba(38, 139, 210, 0.1);
    background-color: #EDF1E8;
    opacity: .5;
    background-image: none;
}

.lightpick__day.is-in-range:hover {

}

.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range.is-flipped {
    background-color: var(--green);
    border-radius: 50%;
}

.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped {
    background-color: var(--green);
    border-radius: 50%;
}

.lightpick__day.is-start-date.is-end-date {
    background-color: var(--green);
    border-radius: 50%;
}

.lightpick__day.is-start-date,
.lightpick__day.is-end-date,
.lightpick__day.is-start-date:hover,
.lightpick__day.is-end-date:hover {
    background-size: auto;
    background-position: center;
    color: #FFF;
    border-radius: 50%;
    background-color: var(--green);
}

.lightpick__tooltip {
    position: absolute;
    margin-top: -4px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    font-size: 11px;
    pointer-events: none;
}

.lightpick__tooltip::before {
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
    border-top: 5px solid rgba(0, 0, 0, 0.12);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
}

.lightpick__tooltip::after {
    position: absolute;
    bottom: -4px;
    left: calc(50% - 4px);
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
.lightpick__footer {
    display: flex;
    justify-content: space-between;
}
.lightpick__reset-action,
.lightpick__apply-action {
    border-radius: 5px;
    font-size: 12px;
    border: none;
}
.lightpick__reset-action {
    color: #fff;
    background-color: #aeacad;
}
.lightpick__apply-action {
    color: #fff;
    background-color: #2495f3;
}
